In [10]:
import pandas as pd
import numpy as np
from datetime import datetime

In [11]:
df = pd.read_csv('State_time_series.csv')
df.head()

,Date,RegionName,DaysOnZillow_AllHomes,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
0,1996-04-30,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45600.0,99500.0,79500.0,79000.0,140200.0,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,Arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67100.0,78900.0,103600.0,107500.0,168700.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,Arkansas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38400.0,70300.0,64400.0,64500.0,115200.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95100.0,136100.0,157900.0,162000.0,270600.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,Colorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82700.0,99400.0,128100.0,133600.0,209300.0,NaN,NaN,NaN,NaN,NaN

In [12]:
np.unique(df['Date'])

array(['1996-04-30', '1996-05-31', '1996-06-30', '1996-07-31',
       '1996-08-31', '1996-09-30', '1996-10-31', '1996-11-30',
       '1996-12-31', '1997-01-31', '1997-02-28', '1997-03-31',
       '1997-04-30', '1997-05-31', '1997-06-30', '1997-07-31',
       '1997-08-31', '1997-09-30', '1997-10-31', '1997-11-30',
       '1997-12-31', '1998-01-31', '1998-02-28', '1998-03-31',
       '1998-04-30', '1998-05-31', '1998-06-30', '1998-07-31',
       '1998-08-31', '1998-09-30', '1998-10-31', '1998-11-30',
       '1998-12-31', '1999-01-31', '1999-02-28', '1999-03-31',
       '1999-04-30', '1999-05-31', '1999-06-30', '1999-07-31',
       '1999-08-31', '1999-09-30', '1999-10-31', '1999-11-30',
       '1999-12-31', '2000-01-31', '2000-02-29', '2000-03-31',
       '2000-04-30', '2000-05-31', '2000-06-30', '2000-07-31',
       '2000-08-31', '2000-09-30', '2000-10-31', '2000-11-30',
       '2000-12-31', '2001-01-31', '2001-02-28', '2001-03-31',
       '2001-04-30', '2001-05-31', '2001-06-30', '2001-07-31',
       '2001-08-31', '2001-09-30', '2001-10-31', '2001-11-30',
       '2001-12-31', '2002-01-31', '2002-02-28', '2002-03-31',
       '2002-04-30', '2002-05-31', '2002-06-30', '2002-07-31',
       '2002-08-31', '2002-09-30', '2002-10-31', '2002-11-30',
       '2002-12-31', '2003-01-31', '2003-02-28', '2003-03-31',
       '2003-04-30', '2003-05-31', '2003-06-30', '2003-07-31',
       '2003-08-31', '2003-09-30', '2003-10-31', '2003-11-30',
       '2003-12-31', '2004-01-31', '2004-02-29', '2004-03-31',
       '2004-04-30', '2004-05-31', '2004-06-30', '2004-07-31',
       '2004-08-31', '2004-09-30', '2004-10-31', '2004-11-30',
       '2004-12-31', '2005-01-31', '2005-02-28', '2005-03-31',
       '2005-04-30', '2005-05-31', '2005-06-30', '2005-07-31',
       '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30',
       '2005-12-31', '2006-01-31', '2006-02-28', '2006-03-31',
       '2006-04-30', '2006-05-31', '2006-06-30', '2006-07-31',
       '2006-08-31', '2006-09-30', '2006-10-31', '2006-11-30',
       '2006-12-31', '2007-01-31', '2007-02-28', '2007-03-31',
       '2007-04-30', '2007-05-31', '2007-06-30', '2007-07-31',
       '2007-08-31', '2007-09-30', '2007-10-31', '2007-11-30',
       '2007-12-31', '2008-01-31', '2008-02-29', '2008-03-31',
       '2008-04-30', '2008-05-31', '2008-06-30', '2008-07-31',
       '2008-08-31', '2008-09-30', '2008-10-31', '2008-11-30',
       '2008-12-31', '2009-01-31', '2009-02-28', '2009-03-31',
       '2009-04-30', '2009-05-31', '2009-06-30', '2009-07-31',
       '2009-08-31', '2009-09-30', '2009-10-31', '2009-11-30',
       '2009-12-31', '2010-01-31', '2010-02-28', '2010-03-31',
       '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-31',
       '2010-08-31', '2010-09-30', '2010-10-31', '2010-11-30',
       '2010-12-31', '2011-01-31', '2011-02-28', '2011-03-31',
       '2011-04-30', '2011-05-31', '2011-06-30', '2011-07-31',
       '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30',
       '2011-12-31', '2012-01-31', '2012-02-29', '2012-03-31',
       '2012-04-30', '2012-05-31', '2012-06-30', '2012-07-31',
       '2012-08-31', '2012-09-30', '2012-10-31', '2012-11-30',
       '2012-12-31', '2013-01-31', '2013-02-28', '2013-03-31',
       '2013-04-30', '2013-05-31', '2013-06-30', '2013-07-31',
       '2013-08-31', '2013-09-30', '2013-10-31', '2013-11-30',
       '2013-12-31', '2014-01-31', '2014-02-28', '2014-03-31',
       '2014-04-30', '2014-05-31', '2014-06-30', '2014-07-31',
       '2014-08-31', '2014-09-30', '2014-10-31', '2014-11-30',
       '2014-12-31', '2015-01-31', '2015-02-28', '2015-03-31',
       '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31',
       '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30',
       '2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31',
       '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31',
       '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30',
       '2016-12-31', '2017-01-31', '2017-02-28', '2017-03-31',
       '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31',
       '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30',
       '2017-12-31'], dtype=object)

In [13]:
def convert_datetime(string):
    return datetime.strptime(string, '%Y-%m-%d').year

df['Year'] = df['Date'].apply(convert_datetime)
df.head()

,Date,RegionName,DaysOnZillow_AllHomes,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,...,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental,Year
0,1996-04-30,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99500.0,79500.0,79000.0,140200.0,NaN,NaN,NaN,NaN,NaN,1996
1,1996-04-30,Arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,78900.0,103600.0,107500.0,168700.0,NaN,NaN,NaN,NaN,NaN,1996
2,1996-04-30,Arkansas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70300.0,64400.0,64500.0,115200.0,NaN,NaN,NaN,NaN,NaN,1996
3,1996-04-30,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,136100.0,157900.0,162000.0,270600.0,NaN,NaN,NaN,NaN,NaN,1996
4,1996-04-30,Colorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99400.0,128100.0,133600.0,209300.0,NaN,NaN,NaN,NaN,NaN,1996

In [14]:
df_recession = df[(df['Year'] > 2008) & (df['Year'] < 2015)]
df_recession.head()

,Date,RegionName,DaysOnZillow_AllHomes,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,...,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental,Year
7609,2009-01-31,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,151900.0,132600.0,132000.0,237000.0,NaN,NaN,NaN,NaN,NaN,2009
7610,2009-01-31,Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,186600.0,265300.0,276200.0,377700.0,NaN,NaN,NaN,NaN,NaN,2009
7611,2009-01-31,Arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,149500.0,195600.0,203000.0,347400.0,NaN,NaN,NaN,NaN,NaN,2009
7612,2009-01-31,Arkansas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,134400.0,105000.0,105000.0,186900.0,NaN,NaN,NaN,NaN,NaN,2009
7613,2009-01-31,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,337400.0,371400.0,378400.0,689700.0,NaN,NaN,NaN,NaN,NaN,2009

In [15]:
df_recession.count().sort_values(ascending=False)

Year                                                       3732
RegionName                                                 3732
Date                                                       3732
ZHVI_3bedroom                                              3622
ZHVIPerSqft_AllHomes                                       3600
ZHVI_SingleFamilyResidence                                 3600
ZHVI_MiddleTier                                            3600
ZHVI_AllHomes                                              3600
ZHVI_TopTier                                               3545
ZHVI_4bedroom                                              3528
ZHVI_BottomTier                                            3528
ZHVI_5BedroomOrMore                                        3405
ZHVI_2bedroom                                              3353
ZHVI_CondoCoop                                             3312
Sale_Counts_Seas_Adj                                       3289
Sale_Counts                                                3289
DaysOnZillow_AllHomes                                      3060
InventoryRaw_AllHomes                                      3060
InventorySeasonallyAdjusted_AllHomes                       3060
ZHVI_1bedroom                                              3047
MedianListingPricePerSqft_4Bedroom                         2877
MedianListingPricePerSqft_AllHomes                         2874
MedianListingPricePerSqft_SingleFamilyResidence            2839
MedianListingPricePerSqft_3Bedroom                         2807
MedianListingPricePerSqft_5BedroomOrMore                   2769
MedianListingPricePerSqft_2Bedroom                         2734
MedianPriceCutDollar_SingleFamilyResidence                 2652
MedianPriceCutDollar_AllHomes                              2652
MedianPctOfPriceReduction_SingleFamilyResidence            2652
PctOfListingsWithPriceReductions_SingleFamilyResidence     2652
                                                           ...
PctOfListingsWithPriceReductions_CondoCoop                 2392
MedianRentalPrice_MultiFamilyResidence5PlusUnits           2357
MedianRentalPricePerSqft_2Bedroom                          2355
MedianRentalPrice_3Bedroom                                 2341
MedianRentalPrice_SingleFamilyResidence                    2336
MedianListingPrice_SingleFamilyResidence                   2330
Sale_Prices                                                2323
MedianListingPrice_DuplexTriplex                           2314
MedianListingPricePerSqft_DuplexTriplex                    2312
MedianPriceCutDollar_CondoCoop                             2288
MedianPctOfPriceReduction_CondoCoop                        2288
MedianRentalPrice_2Bedroom                                 2262
MedianRentalPricePerSqft_MultiFamilyResidence5PlusUnits    2234
MedianListingPrice_CondoCoop                               2126
MedianListingPricePerSqft_1Bedroom                         2021
MedianRentalPricePerSqft_1Bedroom                          1935
MedianRentalPricePerSqft_4Bedroom                          1852
MedianRentalPrice_1Bedroom                                 1819
MedianRentalPrice_4Bedroom                                 1770
MedianRentalPricePerSqft_CondoCoop                         1761
MedianRentalPrice_Studio                                   1627
MedianRentalPrice_DuplexTriplex                            1574
MedianListingPrice_1Bedroom                                1504
MedianRentalPrice_CondoCoop                                1396
MedianRentalPricePerSqft_DuplexTriplex                     1300
MedianRentalPricePerSqft_Studio                            1171
MedianRentalPricePerSqft_5BedroomOrMore                     740
MedianRentalPrice_5BedroomOrMore                            601
PctOfHomesSellingForGain_AllHomes                           216
PctOfHomesSellingForLoss_AllHomes                           216
Length: 83, dtype: int64

In [16]:
df_recession = df_recession[['Year', 'RegionName', 'Sale_Counts', 'ZHVI_AllHomes', 'MedianListingPricePerSqft_AllHomes']]
df_recession.head()

,Year,RegionName,Sale_Counts,ZHVI_AllHomes,MedianListingPricePerSqft_AllHomes
7609,2009,Alabama,2011.0,132600.0,NaN
7610,2009,Alaska,NaN,265300.0,NaN
7611,2009,Arizona,6906.0,195600.0,NaN
7612,2009,Arkansas,1550.0,105000.0,NaN
7613,2009,California,29060.0,371400.0,NaN

# Copied Code Plotly Visualization

In [2]:
#help('modules')

Please wait a moment while I gather a list of all available modules...

C:\Users\Luke Nguyen\Documents\Anaconda\lib\site-packages\IPython\kernel\__init__.py:13: ShimWarning: The `IPython.kernel` package has been deprecated since IPython 4.0.You should import from ipykernel or jupyter_client instead.
  "You should import from ipykernel or jupyter_client instead.", ShimWarning)
WARNING: AstropyDeprecationWarning: astropy.utils.compat.futures is now deprecated - use concurrent.futures instead [astropy.utils.compat.futures]
C:\Users\Luke Nguyen\Documents\Anaconda\lib\site-packages\nltk\twitter\__init__.py:22: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  "The twython library has not been installed. "

DEBUG:pip._internal.vcs:Registered VCS backend: git
DEBUG:pip._internal.vcs:Registered VCS backend: hg
DEBUG:pip._internal.vcs:Registered VCS backend: svn
DEBUG:pip._internal.vcs:Registered VCS backend: bzr

C:\Users\Luke Nguyen\Documents\Anaconda\lib\site-packages\skimage\novice\__init__.py:103: UserWarning: The `skimage.novice` module was deprecated in version 0.14. It will be removed in 0.16.
  warnings.warn("The `skimage.novice` module was deprecated in version 0.14. "
C:\Users\Luke Nguyen\Documents\Anaconda\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)
C:\Users\Luke Nguyen\Documents\Anaconda\lib\site-packages\qtawesome\iconic_font.py:276: UserWarning: You need to have a running QApplication to use QtAwesome!
  warnings.warn("You need to have a running "
C:\Users\Luke Nguyen\Documents\Anaconda\lib\pkgutil.py:107: VisibleDeprecationWarning: zmq.eventloop.minitornado is deprecated in pyzmq 14.0 and will be removed.
    Install tornado itself to use zmq with the tornado IOLoop.

  yield from walk_packages(path, info.name+'.', onerror)

Crypto              bz2                 math                socks
Cython              cProfile            matplotlib          sockshandler
IPython             calendar            mccabe              sortedcollections
OpenSSL             certifi             menuinst            sortedcontainers
PIL                 cffi                mimetypes           soupsieve
PyQt5               cgi                 mistune             sphinx
__future__          cgitb               mkl                 sphinxcontrib
_abc                chardet             mkl_fft             spyder
_ast                chunk               mkl_random          spyder_breakpoints
_asyncio            click               mmap                spyder_io_dcm
_bisect             cloudpickle         mmapfile            spyder_io_hdf5
_blake2             clyent              mmsystem            spyder_kernels
_bootlocale         cmath               mock                spyder_profiler
_bz2                cmd                 modulefinder        spyder_pylint
_cffi_backend       code                more_itertools      sqlalchemy
_codecs             codecs              mpmath              sqlite3
_codecs_cn          codeop              msgpack             sre_compile
_codecs_hk          collections         msilib              sre_constants
_codecs_iso2022     colorama            msvcrt              sre_parse
_codecs_jp          colorsys            multipledispatch    ssl
_codecs_kr          commctrl            multiprocessing     sspi
_codecs_tw          compileall          navigator_updater   sspicon
_collections        comtypes            nbconvert           stat
_collections_abc    concurrent          nbformat            statistics
_compat_pickle      conda               netbios             statsmodels
_compression        conda_build         netrc               storemagic
_contextvars        conda_env           networkx            string
_csv                conda_package_handling nltk                stringprep
_ctypes             conda_verify        nntplib             struct
_ctypes_test        configparser        nose                subprocess
_datetime           contextlib          notebook            sunau
_decimal            contextlib2         nt                  symbol
_dummy_thread       contextvars         ntpath              sympy
_elementtree        copy                ntsecuritycon       sympyprinting
_functools          copyreg             nturl2path          symtable
_hashlib            coverage            numba               sys
_heapq              coveralls           numbers             sysconfig
_imp                crypt               numexpr             tables
_io                 cryptography        numpy               tabnanny
_json               csv                 numpydoc            tarfile
_locale             ctypes              odbc                tblib
_lsprof             curl                olefile             telnetlib
_lzma               curses              opcode              tempfile
_markupbase         cwp                 openpyxl            terminado
_md5                cycler              operator            test
_msi                cython              optparse            test_data
_multibytecodec     cythonmagic         os                  test_pycosat
_multiprocessing    cytoolz             packaging           testpath
_nsis               dask                pandas              tests
_opcode             dataclasses         pandocfilters       textwrap
_operator           datascience         parser              this
_osx_support        datetime            parso               threading
_overlapped         dateutil            partd               time
_pickle             dbi                 past                timeit
_py_abc             dbm                 path                timer
_pydecimal          dde                 pathlib             tkinter
_pyio               decimal             pathlib2            tlz
_pylief             decorator           patsy               token
_pyrsistent_version defusedxml          pdb                 tokenize
_pytest             difflib             pep8                toolz
_queue              dis                 perfmon             tornado
_random             distributed         pickle              tqdm
_sha1               distutils           pickleshare         trace
_sha256             docopt              pickletools         traceback
_sha3               doctest             pip                 tracemalloc
_sha512             docutils            pipes               traitlets
_signal             dummy_threading     pkg_resources       tty
_sitebuiltins       easy_install        pkginfo             turtle
_socket             email               pkgutil             turtledemo
_sqlite3            encodings           platform            types
_sre                ensurepip           plistlib            typing
_ssl                entrypoints         pluggy              unicodecsv
_stat               enum                ply                 unicodedata
_string             errno               poplib              unittest
_strptime           et_xmlfile          posixpath           urllib
_struct             fastcache           pprint              urllib3
_symtable           faulthandler        profile             uu
_system_path        filecmp             prometheus_client   uuid
_testbuffer         fileinput           prompt_toolkit      venv
_testcapi           filelock            pstats              warnings
_testconsole        flask               psutil              wave
_testimportmultiple fnmatch             pty                 wcwidth
_testmultiphase     folium              pvectorc            weakref
_thread             formatter           py                  webbrowser
_threading_local    fractions           py_compile          webencodings
_tkinter            fsspec              pyclbr              werkzeug
_tracemalloc        ftplib              pycodestyle         wheel
_warnings           functools           pycosat             widgetsnbextension
_weakref            future              pycparser           win2kras
_weakrefset         gc                  pycurl              win32api
_win32sysloader     genericpath         pydoc               win32clipboard
_winapi             getopt              pydoc_data          win32com
_winxptheme         getpass             pyexpat             win32con
_yaml               gettext             pyflakes            win32console
abc                 gevent              pygments            win32cred
adodbapi            glob                pylab               win32crypt
afxres              glob2               pylint              win32cryptcon
aifc                greenlet            pyodbc              win32event
alabaster           gzip                pyparsing           win32evtlog
anaconda_navigator  h5py                pyreadline          win32evtlogutil
anaconda_project    hashlib             pyrsistent          win32file
antigravity         heapdict            pytest              win32gui
argparse            heapq               pytest_arraydiff    win32gui_struct
array               hmac                pytest_doctestplus  win32help
asn1crypto          html                pytest_openfiles    win32inet
ast                 html5lib            pytest_remotedata   win32inetcon
astroid             http                pythoncom           win32job
astropy             idlelib             pytz                win32lz
asynchat            idna                pywin               win32net
asyncio             imageio             pywin32_testutil    win32netcon
asyncore            imagesize           pywintypes          win32pdh
atexit              imaplib             pywt                win32pdhquery
atomicwrites        imghdr              pyximport           win32pdhutil
attr                imp                 qtawesome           win32pipe
audioop             importlib           qtconsole           win32print
autoreload          importlib_metadata  qtpy                win32process
babel               inspect             queue               win32profile
backcall            io                  quopri              win32ras
backports           ipaddress           random              win32rcparser
base64              ipykernel           rasutil             win32security
bdb                 ipykernel_launcher  re                  win32service
binascii            ipython_genutils    readline            win32serviceutil
binhex              ipywidgets          regcheck            win32timezone
binstar_client      isapi               regutil             win32trace
bisect              isort               reprlib             win32traceutil
bitarray            isympy              requests            win32transaction
bkcharts            itertools           rlcompleter         win32ts
bleach              itsdangerous        rmagic              win32ui
bokeh               jdcal               rope                win32uiole
boto                jedi                ruamel_yaml         win32verstamp
bottleneck          jinja2              run                 win32wnet
brain_argparse      joblib              runpy               win_inet_pton
brain_attrs         json                sched               win_unicode_console
brain_builtin_inference json5               scipy               wincertstore
brain_collections   jsonschema          scripts             winerror
brain_curses        jupyter             seaborn             winioctlcon
brain_dateutil      jupyter_client      secrets             winnt
brain_fstrings      jupyter_console     select              winperf
brain_functools     jupyter_core        selectors           winpty
brain_gi            jupyterlab          send2trash          winreg
brain_hashlib       jupyterlab_server   servicemanager      winsound
brain_http          keyring             setuptools          winxpgui
brain_io            keyword             shelve              winxptheme
brain_mechanize     kiwisolver          shlex               wrapt
brain_multiprocessing lazy_object_proxy   shutil              wsgiref
brain_namedtuple_enum lib2to3             signal              xdrlib
brain_nose          libarchive          simplegeneric       xlrd
brain_numpy         libfuturize         singledispatch      xlsxwriter
brain_pkg_resources libpasteurize       singledispatch_helpers xlwings
brain_pytest        lief                sip                 xlwt
brain_qt            linecache           sipconfig           xml
brain_random        llvmlite            sipdistutils        xmlrpc
brain_re            locale              site                xxsubtype
brain_six           locket              six                 yaml
brain_ssl           logging             skimage             zict
brain_subprocess    lxml                sklearn             zipapp
brain_threading     lzma                smtpd               zipfile
brain_typing        macpath             smtplib             zipimport
brain_uuid          mailbox             sndhdr              zipp
branca              mailcap             snowballstemmer     zlib
bs4                 markupsafe          socket              zmq
builtins            marshal             socketserver

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

DEBUG:matplotlib.pyplot:Loaded backend module://ipykernel.pylab.backend_inline version unknown.

In [8]:
import plotly.graph_objs as go
import chart_studio.plotly as py

In [24]:
df_data = df_recession[['Year', 'RegionName', 'ZHVI_AllHomes']]
df_data[df_data['ZHVI_AllHomes'].isnull()]

       Year    RegionName  ZHVI_AllHomes
7627   2009     Louisiana            NaN
7678   2009     Louisiana            NaN
7729   2009     Louisiana            NaN
7780   2009     Louisiana            NaN
7831   2009     Louisiana            NaN
7882   2009     Louisiana            NaN
7933   2009     Louisiana            NaN
7984   2009     Louisiana            NaN
8035   2009     Louisiana            NaN
8086   2009     Louisiana            NaN
8137   2009     Louisiana            NaN
8188   2009     Louisiana            NaN
8239   2010     Louisiana            NaN
8265   2010  UnitedStates            NaN
8291   2010     Louisiana            NaN
8317   2010  UnitedStates            NaN
8343   2010     Louisiana            NaN
8369   2010  UnitedStates            NaN
8395   2010     Louisiana            NaN
8421   2010  UnitedStates            NaN
8447   2010     Louisiana            NaN
8473   2010  UnitedStates            NaN
8499   2010     Louisiana            NaN
8525   2010  UnitedStates            NaN
8551   2010     Louisiana            NaN
8577   2010  UnitedStates            NaN
8603   2010     Louisiana            NaN
8629   2010  UnitedStates            NaN
8655   2010     Louisiana            NaN
8681   2010  UnitedStates            NaN
...     ...           ...            ...
10579  2013     Louisiana            NaN
10605  2013  UnitedStates            NaN
10631  2013     Louisiana            NaN
10657  2013  UnitedStates            NaN
10683  2013     Louisiana            NaN
10709  2013  UnitedStates            NaN
10735  2014     Louisiana            NaN
10761  2014  UnitedStates            NaN
10787  2014     Louisiana            NaN
10813  2014  UnitedStates            NaN
10839  2014     Louisiana            NaN
10865  2014  UnitedStates            NaN
10891  2014     Louisiana            NaN
10917  2014  UnitedStates            NaN
10943  2014     Louisiana            NaN
10969  2014  UnitedStates            NaN
10995  2014     Louisiana            NaN
11021  2014  UnitedStates            NaN
11047  2014     Louisiana            NaN
11073  2014  UnitedStates            NaN
11099  2014     Louisiana            NaN
11125  2014  UnitedStates            NaN
11151  2014     Louisiana            NaN
11177  2014  UnitedStates            NaN
11203  2014     Louisiana            NaN
11229  2014  UnitedStates            NaN
11255  2014     Louisiana            NaN
11281  2014  UnitedStates            NaN
11307  2014     Louisiana            NaN
11333  2014  UnitedStates            NaN

[132 rows x 3 columns]

In [9]:


# min year in your dataset
year = 2009

# your color-scale
scl = [[0.0, '#ffffff'],[0.2, '#b4a8ce'],[0.4, '#8573a9'],
       [0.6, '#7159a3'],[0.8, '#5732a1'],[1.0, '#2c0579']] # purples

data_slider = []
for year in df['years'].unique():
    df_segmented =  df_data[(df_data['years']== year)]

    for col in df_segmented.columns:
        df_segmented[col] = df_segmented[col].astype(str)

    data_each_yr = dict(
                        type='choropleth',
                        locations = df_data['RegionName'],
                        z=df_segmented['sightings'].astype(float),
                        locationmode='USA-states',
                        colorscale = scl,
                        colorbar= {'title':'# Sightings'})

    data_slider.append(data_each_yr)

steps = []
for i in range(len(data_slider)):
    step = dict(method='restyle',
                args=['visible', [False] * len(data_slider)],
                label='Year {}'.format(i + 1998))
    step['args'][1][i] = True
    steps.append(step)

sliders = [dict(active=0, pad={"t": 1}, steps=steps)]

layout = dict(title ='UFO Sightings by State Since 1998', geo=dict(scope='usa',
                       projection={'type': 'albers usa'}),
              sliders=sliders)

fig = dict(data=data_slider, layout=layout)
periscope.plotly(fig)

NameError: name 'df' is not defined