In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

cities_crosswalk, datadictionary, countycrosswalk

In [2]:
city_cw = pd.read_csv('cities_crosswalk.csv')
county_cw = pd.read_csv('CountyCrossWalk_Zillow.csv')
county_pop = pd.read_csv('County_populations_census', header=[0, 1], index_col=2)
# data_dict = pd.read_csv('DataDictionary.csv')

FileNotFoundError: [Errno 2] File b'County_populations_census' does not exist: b'County_populations_census'

In [59]:
county_cw.shape

(3144, 10)

In [60]:
county_cw.head()

,CountyName,StateName,StateFIPS,CountyFIPS,MetroName_Zillow,CBSAName,CountyRegionID_Zillow,MetroRegionID_Zillow,FIPS,CBSACode
0,Pike,Pennsylvania,42,103,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",280,394913.0,42103,35620.0
1,Bronx,New York,36,5,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",401,394913.0,36005,35620.0
2,Essex,New Jersey,34,13,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",504,394913.0,34013,35620.0
3,Kings,New York,36,47,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",581,394913.0,36047,35620.0
4,Ocean,New Jersey,34,29,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",659,394913.0,34029,35620.0

This data maps Zillow informal regional descriptions to county and state locations. From Zillow, "We provide a crosswalk between colloquial Zillow region names and federally defined region names and linking variables such as County FIPS codes and CBSA codes. "

FIPS stands for The Federal Information Processing Standard, FIPS codes represent standard county codes. 
https://transition.fcc.gov/oet/info/maps/census/fips/fips.txt

FIPS attribute is a combination of the StateFIPS and CountyFIPS codes
- i.e. StateFIPS = 21, CountyFIPS = 3, FIPS= 21003
- 56 state FIPS because some numbers skipped

CBSA stands for Core Based Statistical Area, represents urban area with population 10,000+ and surrounding counties
https://www.uspto.gov/web/offices/ac/ido/oeip/taf/cls_cbsa/cbsa_countyassoc.htm

In [4]:
county_cw.count()

CountyName               3144
StateName                3144
StateFIPS                3144
CountyFIPS               3144
MetroName_Zillow         1804
CBSAName                 1808
CountyRegionID_Zillow    3144
MetroRegionID_Zillow     1808
FIPS                     3144
CBSACode                 1808
dtype: int64

There are less CBSA codes, and metro names than the rest of the data, possibly because not all counties are urban enough to satisfy requirements for CSBAs. Presumably MetroName_Zillow is Zillow's colloquial name for urban areas, where 4 CBSAs aren't large/well known enough to have a Zillow name.

In [61]:
no_CBSA = county_cw[county_cw['CBSAName'].isnull()].head()

,CountyName,StateName,StateFIPS,CountyFIPS,MetroName_Zillow,CBSAName,CountyRegionID_Zillow,MetroRegionID_Zillow,FIPS,CBSACode
1804,Lake of the Woods,Minnesota,27,77,NaN,NaN,3275,NaN,27077,NaN
1805,Clifton Forge City,Virginia,51,560,NaN,NaN,3280,NaN,51560,NaN
1806,Lake and Peninsula,Alaska,2,164,NaN,NaN,3281,NaN,2164,NaN
1807,Southeast Fairbanks,Alaska,2,240,NaN,NaN,3284,NaN,2240,NaN
1808,Wrangell,Alaska,2,275,NaN,NaN,3287,NaN,2275,NaN

In [68]:
counties_state = county_cw.groupby(['StateName']).agg('count').sort_values(by=['CountyFIPS'], ascending=False)['CountyFIPS']
counties_state

StateName
Texas                   254
Georgia                 159
Virginia                135
Kentucky                120
Missouri                115
Kansas                  105
Illinois                102
North Carolina          100
Iowa                     99
Tennessee                95
Nebraska                 93
Indiana                  92
Ohio                     88
Minnesota                87
Michigan                 83
Mississippi              82
Oklahoma                 77
Arkansas                 75
Wisconsin                72
Pennsylvania             67
Alabama                  67
Florida                  67
South Dakota             66
Colorado                 64
Louisiana                64
New York                 62
California               58
Montana                  56
West Virginia            55
North Dakota             53
South Carolina           46
Idaho                    44
Washington               39
Oregon                   36
New Mexico               33
Alaska                   29
Utah                     29
Maryland                 24
Wyoming                  23
New Jersey               21
Nevada                   17
Maine                    16
Arizona                  15
Vermont                  14
Massachusetts            14
New Hampshire            10
Connecticut               8
Rhode Island              5
Hawaii                    5
Delaware                  3
District of Columbia      1
Name: CountyFIPS, dtype: int64

In [64]:
city_cw.head()

          Unique_City_ID            City     County State
0   oak_grovechristianky       Oak Grove  Christian    KY
1  jarvisburgcurritucknc      Jarvisburg  Currituck    NC
2   mcminnvilleyamhillor     McMinnville    Yamhill    OR
3   union_townshiperiepa  Union Township       Erie    PA
4     oshkoshwinnebagowi         Oshkosh  Winnebago    WI

In [44]:
city_cw.shape

(25341, 4)