In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt
from sklearn.preprocessing import normalize
%matplotlib inline
plt.style.use("seaborn")
import datetime
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

from scipy.signal import argrelextrema

### TODO
- Efficient
- clean
    - document
- extend residuals/predicted so can predict any date, not start and residuals divide by zero-padded array

In [2]:
data = pd.read_csv("./datasets/Metro_time_series.csv")

In [3]:
LAST_DATE = '2006'
cols = ['Date', 'RegionName', 'ZHVI_AllHomes']
data = data[data['ZHVI_AllHomes'] > 0]
data = data.filter(cols)
data = data.rename(columns={"RegionName": "CBSA_Code"})

cityList = np.unique(data['CBSA_Code'])
metro = []
for code in tqdm(cityList):
    if min(data[data['CBSA_Code']  == str(code)].Date.values) <= LAST_DATE:
        metro.append(data[data['CBSA_Code']  == str(code)])
metro

100%|██████████| 730/730 [00:19<00:00, 37.13it/s]

   47700       143000.0
 211139  2017-12-31     47700       144100.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 650     1996-04-30     47780        61300.0
 1337    1996-05-31     47780        61900.0
 2025    1996-06-30     47780        61500.0
 2714    1996-07-31     47780        60400.0
 3403    1996-08-31     47780        60000.0
 ...            ...       ...            ...
 207496  2017-08-31     47780       114000.0
 208407  2017-09-30     47780       114200.0
 209318  2017-10-31     47780       114400.0
 210229  2017-11-30     47780       114200.0
 211140  2017-12-31     47780       113800.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 651     1996-04-30     47900       154200.0
 1338    1996-05-31     47900       154200.0
 2026    1996-06-30     47900       154400.0
 2715    1996-07-31     47900       154500.0
 3404    1996-08-31     47900       154200.0
 ...            ...       ...            ...
 207498  2017-08-31     47900       383300.0
 208409  2017-09-30     47900       384800.0
 209320  2017-10-31     47900       385400.0
 210231  2017-11-30     47900       385500.0
 211142  2017-12-31     47900       385500.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 652     1996-04-30     47920        57600.0
 1339    1996-05-31     47920        58400.0
 2027    1996-06-30     47920        59000.0
 2716    1996-07-31     47920        59900.0
 3405    1996-08-31     47920        60700.0
 ...            ...       ...            ...
 207499  2017-08-31     47920       113000.0
 208410  2017-09-30     47920       113200.0
 209321  2017-10-31     47920       113000.0
 210232  2017-11-30     47920       112200.0
 211143  2017-12-31     47920       111400.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 653     1996-04-30     47940        56600.0
 1340    1996-05-31     47940        57200.0
 2028    1996-06-30     47940        57200.0
 2717    1996-07-31     47940        56900.0
 3406    1996-08-31     47940        56900.0
 ...            ...       ...            ...
 207500  2017-08-31     47940       118300.0
 208411  2017-09-30     47940       119200.0
 209322  2017-10-31     47940       120000.0
 210233  2017-11-30     47940       119900.0
 211144  2017-12-31     47940       119700.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 654     1996-04-30     48020        99300.0
 1341    1996-05-31     48020        99700.0
 2029    1996-06-30     48020        99900.0
 2718    1996-07-31     48020       100200.0
 3407    1996-08-31     48020       101000.0
 ...            ...       ...            ...
 207501  2017-08-31     48020       182100.0
 208412  2017-09-30     48020       182300.0
 209323  2017-10-31     48020       182500.0
 210234  2017-11-30     48020       183900.0
 211145  2017-12-31     48020       185200.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 655     1996-04-30     48060        57500.0
 1342    1996-05-31     48060        56900.0
 2030    1996-06-30     48060        56600.0
 2719    1996-07-31     48060        56600.0
 3408    1996-08-31     48060        56300.0
 ...            ...       ...            ...
 207502  2017-08-31     48060       135100.0
 208413  2017-09-30     48060       135200.0
 209324  2017-10-31     48060       135900.0
 210235  2017-11-30     48060       136600.0
 211146  2017-12-31     48060       137300.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 11817   1997-08-31     48100        44600.0
 12535   1997-09-30     48100        44900.0
 13253   1997-10-31     48100        45300.0
 13970   1997-11-30     48100        45500.0
 14687   1997-12-31     48100        45800.0
 ...            ...       ...            ...
 207503  2017-08-31     48100        71500.0
 208414  2017-09-30     48100        71700.0
 209325  2017-10-31     48100        72000.0
 210236  2017-11-30     48100        72200.0
 211147  2017-12-31     48100        72200.0

 [245 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 656     1996-04-30     48140        62200.0
 1343    1996-05-31     48140        62600.0
 2031    1996-06-30     48140        63000.0
 2720    1996-07-31     48140        63600.0
 3409    1996-08-31     48140        64100.0
 ...            ...       ...            ...
 207504  2017-08-31     48140       140700.0
 208415  2017-09-30     48140       141300.0
 209326  2017-10-31     48140       143100.0
 210237  2017-11-30     48140       144600.0
 211148  2017-12-31     48140       145300.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 657     1996-04-30     48180        34600.0
 1344    1996-05-31     48180        35000.0
 2032    1996-06-30     48180        34900.0
 2721    1996-07-31     48180        34500.0
 3410    1996-08-31     48180        34200.0
 ...            ...       ...            ...
 207505  2017-08-31     48180        87100.0
 208416  2017-09-30     48180        87100.0
 209327  2017-10-31     48180        87300.0
 210238  2017-11-30     48180        87600.0
 211149  2017-12-31     48180        87800.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 658     1996-04-30     48220        35200.0
 1345    1996-05-31     48220        35200.0
 2033    1996-06-30     48220        35400.0
 2722    1996-07-31     48220        35600.0
 3411    1996-08-31     48220        35800.0
 ...            ...       ...            ...
 207506  2017-08-31     48220       120000.0
 208417  2017-09-30     48220       120700.0
 209328  2017-10-31     48220       121100.0
 210239  2017-11-30     48220       121700.0
 211150  2017-12-31     48220       121900.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 659     1996-04-30     48260        48900.0
 1346    1996-05-31     48260        49900.0
 2034    1996-06-30     48260        50900.0
 2723    1996-07-31     48260        51800.0
 3412    1996-08-31     48260        52500.0
 ...            ...       ...            ...
 207507  2017-08-31     48260        77700.0
 208418  2017-09-30     48260        77900.0
 209329  2017-10-31     48260        80500.0
 210240  2017-11-30     48260        84000.0
 211151  2017-12-31     48260        85200.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 7565    1997-02-28     48300       111400.0
 8273    1997-03-31     48300       106100.0
 8981    1997-04-30     48300       100200.0
 9689    1997-05-31     48300        96600.0
 10397   1997-06-30     48300        95200.0
 ...            ...       ...            ...
 207508  2017-08-31     48300       286000.0
 208419  2017-09-30     48300       287600.0
 209330  2017-10-31     48300       289300.0
 210241  2017-11-30     48300       291300.0
 211152  2017-12-31     48300       291900.0

 [251 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 660     1996-04-30     48460       137000.0
 1347    1996-05-31     48460       136900.0
 2035    1996-06-30     48460       136900.0
 2724    1996-07-31     48460       136900.0
 3413    1996-08-31     48460       136900.0
 ...            ...       ...            ...
 207509  2017-08-31     48460       115400.0
 208420  2017-09-30     48460       115600.0
 209331  2017-10-31     48460       115500.0
 210242  2017-11-30     48460       116100.0
 211153  2017-12-31     48460       117000.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 661     1996-04-30     48540        48300.0
 1348    1996-05-31     48540        48600.0
 2036    1996-06-30     48540        49000.0
 2725    1996-07-31     48540        48800.0
 3414    1996-08-31     48540        48500.0
 ...            ...       ...            ...
 207510  2017-08-31     48540        92900.0
 208421  2017-09-30     48540        92600.0
 209332  2017-10-31     48540        92700.0
 210243  2017-11-30     48540        92500.0
 211154  2017-12-31     48540        91900.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 662     1996-04-30     48580       106700.0
 1349    1996-05-31     48580       106500.0
 2037    1996-06-30     48580       106400.0
 2726    1996-07-31     48580       106200.0
 3415    1996-08-31     48580       106100.0
 ...            ...       ...            ...
 207511  2017-08-31     48580       194600.0
 208422  2017-09-30     48580       196100.0
 209333  2017-10-31     48580       196700.0
 210244  2017-11-30     48580       196800.0
 211155  2017-12-31     48580       197100.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 664     1996-04-30     48700        77000.0
 1351    1996-05-31     48700        76500.0
 2039    1996-06-30     48700        76000.0
 2728    1996-07-31     48700        75900.0
 3417    1996-08-31     48700        76100.0
 ...            ...       ...            ...
 207514  2017-08-31     48700       146000.0
 208425  2017-09-30     48700       146000.0
 209336  2017-10-31     48700       146600.0
 210247  2017-11-30     48700       147000.0
 211158  2017-12-31     48700       146800.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 665     1996-04-30     48820        96200.0
 1352    1996-05-31     48820        95300.0
 2040    1996-06-30     48820        94300.0
 2729    1996-07-31     48820        93800.0
 3418    1996-08-31     48820        92700.0
 ...            ...       ...            ...
 207516  2017-08-31     48820       159800.0
 208427  2017-09-30     48820       160800.0
 209338  2017-10-31     48820       161900.0
 210249  2017-11-30     48820       162600.0
 211160  2017-12-31     48820       163300.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 666     1996-04-30     48900       111300.0
 1353    1996-05-31     48900       111700.0
 2041    1996-06-30     48900       112000.0
 2730    1996-07-31     48900       112400.0
 3419    1996-08-31     48900       113000.0
 ...            ...       ...            ...
 207517  2017-08-31     48900       213100.0
 208428  2017-09-30     48900       214500.0
 209339  2017-10-31     48900       215900.0
 210250  2017-11-30     48900       217000.0
 211161  2017-12-31     48900       217800.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 667     1996-04-30     48980        88000.0
 1354    1996-05-31     48980        87800.0
 2042    1996-06-30     48980        88000.0
 2731    1996-07-31     48980        89300.0
 3420    1996-08-31     48980        90500.0
 ...            ...       ...            ...
 207519  2017-08-31     48980       126200.0
 208430  2017-09-30     48980       127200.0
 209341  2017-10-31     48980       127100.0
 210252  2017-11-30     48980       126100.0
 211163  2017-12-31     48980       124900.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 668     1996-04-30     49020        89500.0
 1355    1996-05-31     49020        89000.0
 2043    1996-06-30     49020        88000.0
 2732    1996-07-31     49020        86800.0
 3421    1996-08-31     49020        86100.0
 ...            ...       ...            ...
 207520  2017-08-31     49020       209600.0
 208431  2017-09-30     49020       211500.0
 209342  2017-10-31     49020       212900.0
 210253  2017-11-30     49020       211900.0
 211164  2017-12-31     49020       210000.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 669     1996-04-30     49080       164900.0
 1356    1996-05-31     49080       164900.0
 2044    1996-06-30     49080       165000.0
 2733    1996-07-31     49080       165000.0
 3422    1996-08-31     49080       165000.0
 ...            ...       ...            ...
 207521  2017-08-31     49080       189300.0
 208432  2017-09-30     49080       190000.0
 209343  2017-10-31     49080       190600.0
 210254  2017-11-30     49080       191500.0
 211165  2017-12-31     49080       193300.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 670     1996-04-30     49100        69700.0
 1357    1996-05-31     49100        69900.0
 2045    1996-06-30     49100        70900.0
 2734    1996-07-31     49100        72900.0
 3423    1996-08-31     49100        74400.0
 ...            ...       ...            ...
 207522  2017-08-31     49100       143700.0
 208433  2017-09-30     49100       145000.0
 209344  2017-10-31     49100       145500.0
 210255  2017-11-30     49100       144500.0
 211166  2017-12-31     49100       143200.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 671     1996-04-30     49180        85100.0
 1358    1996-05-31     49180        85300.0
 2046    1996-06-30     49180        85200.0
 2735    1996-07-31     49180        85300.0
 3424    1996-08-31     49180        85600.0
 ...            ...       ...            ...
 207523  2017-08-31     49180       131200.0
 208434  2017-09-30     49180       131900.0
 209345  2017-10-31     49180       132600.0
 210256  2017-11-30     49180       132900.0
 211167  2017-12-31     49180       133100.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 672     1996-04-30     49220        70700.0
 1359    1996-05-31     49220        71200.0
 2047    1996-06-30     49220        71700.0
 2736    1996-07-31     49220        72700.0
 3425    1996-08-31     49220        74100.0
 ...            ...       ...            ...
 207524  2017-08-31     49220       114000.0
 208435  2017-09-30     49220       114400.0
 209346  2017-10-31     49220       115200.0
 210257  2017-11-30     49220       117500.0
 211168  2017-12-31     49220       120000.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 674     1996-04-30     49300        91400.0
 1361    1996-05-31     49300        91100.0
 2049    1996-06-30     49300        90800.0
 2738    1996-07-31     49300        90500.0
 3427    1996-08-31     49300        90400.0
 ...            ...       ...            ...
 207526  2017-08-31     49300       144500.0
 208437  2017-09-30     49300       145300.0
 209348  2017-10-31     49300       146600.0
 210259  2017-11-30     49300       147100.0
 211170  2017-12-31     49300       146600.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 675     1996-04-30     49340       112100.0
 1362    1996-05-31     49340       112000.0
 2050    1996-06-30     49340       112300.0
 2739    1996-07-31     49340       112300.0
 3428    1996-08-31     49340       112100.0
 ...            ...       ...            ...
 207527  2017-08-31     49340       251500.0
 208438  2017-09-30     49340       253600.0
 209349  2017-10-31     49340       255100.0
 210260  2017-11-30     49340       256100.0
 211171  2017-12-31     49340       257300.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 676     1996-04-30     49420        93800.0
 1363    1996-05-31     49420        93200.0
 2051    1996-06-30     49420        92700.0
 2740    1996-07-31     49420        92600.0
 3429    1996-08-31     49420        92700.0
 ...            ...       ...            ...
 207529  2017-08-31     49420       186600.0
 208440  2017-09-30     49420       188400.0
 209351  2017-10-31     49420       189400.0
 210262  2017-11-30     49420       189500.0
 211173  2017-12-31     49420       189200.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 677     1996-04-30     49460       155900.0
 1364    1996-05-31     49460       155900.0
 2052    1996-06-30     49460       156000.0
 2741    1996-07-31     49460       156000.0
 3430    1996-08-31     49460       155900.0
 ...            ...       ...            ...
 207530  2017-08-31     49460       165000.0
 208441  2017-09-30     49460       164000.0
 209352  2017-10-31     49460       163700.0
 210263  2017-11-30     49460       163600.0
 211174  2017-12-31     49460       163700.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 678     1996-04-30     49620        99300.0
 1365    1996-05-31     49620        99600.0
 2053    1996-06-30     49620       100000.0
 2742    1996-07-31     49620       100300.0
 3431    1996-08-31     49620       100200.0
 ...            ...       ...            ...
 207531  2017-08-31     49620       164000.0
 208442  2017-09-30     49620       165000.0
 209353  2017-10-31     49620       165900.0
 210264  2017-11-30     49620       166600.0
 211175  2017-12-31     49620       167100.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 679     1996-04-30     49660        59200.0
 1366    1996-05-31     49660        58700.0
 2054    1996-06-30     49660        58700.0
 2743    1996-07-31     49660        58800.0
 3432    1996-08-31     49660        59000.0
 ...            ...       ...            ...
 207532  2017-08-31     49660        86200.0
 208443  2017-09-30     49660        86600.0
 209354  2017-10-31     49660        86600.0
 210265  2017-11-30     49660        86600.0
 211176  2017-12-31     49660        86900.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 680     1996-04-30     49700       105200.0
 1367    1996-05-31     49700       103400.0
 2055    1996-06-30     49700       101200.0
 2744    1996-07-31     49700       100300.0
 3433    1996-08-31     49700        99700.0
 ...            ...       ...            ...
 207533  2017-08-31     49700       260100.0
 208444  2017-09-30     49700       262400.0
 209355  2017-10-31     49700       265900.0
 210266  2017-11-30     49700       269800.0
 211177  2017-12-31     49700       272600.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 681     1996-04-30     49740        80600.0
 1368    1996-05-31     49740        80600.0
 2056    1996-06-30     49740        80800.0
 2745    1996-07-31     49740        80900.0
 3434    1996-08-31     49740        80700.0
 ...            ...       ...            ...
 207534  2017-08-31     49740       135600.0
 208445  2017-09-30     49740       136800.0
 209356  2017-10-31     49740       137900.0
 210267  2017-11-30     49740       137700.0
 211178  2017-12-31     49740       137500.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 682     1996-04-30     49780        69400.0
 1369    1996-05-31     49780        68600.0
 2057    1996-06-30     49780        67100.0
 2746    1996-07-31     49780        66300.0
 3435    1996-08-31     49780        66000.0
 ...            ...       ...            ...
 207535  2017-08-31     49780       111400.0
 208446  2017-09-30     49780       111400.0
 209357  2017-10-31     49780       112000.0
 210268  2017-11-30     49780       113000.0
 211179  2017-12-31     49780       114100.0

 [261 rows x 3 columns],
               Date CBSA_Code  ZHVI_AllHomes
 33958   2000-02-29     49820        79400.0
 34705   2000-03-31     49820        79400.0
 35452   2000-04-30     49820        79400.0
 36199   2000-05-31     49820        79400.0
 36946   2000-06-30     49820        79500.0
 ...            ...       ...            ...
 207536  2017-08-31     49820        92900.0
 208447  2017-09-30     49820        93000.0
 209358  2017-10-31     49820        93300.0
 210269  2017-11-30     49820        94100.0
 211180  2017-12-31     49820        94900.0

 [215 rows x 3 columns],
               Date      CBSA_Code  ZHVI_AllHomes
 683     1996-04-30  United_States        99600.0
 1370    1996-05-31  United_States       100000.0
 2058    1996-06-30  United_States       100000.0
 2747    1996-07-31  United_States        99900.0
 3436    1996-08-31  United_States        99800.0
 ...            ...            ...            ...
 207537  2017-08-31  United_States       202000.0
 208448  2017-09-30  United_States       203300.0
 209359  2017-10-31  United_States       204600.0
 210270  2017-11-30  United_States       205700.0
 211181  2017-12-31  United_States       206300.0

 [261 rows x 3 columns]]

In [4]:
from sklearn.preprocessing import StandardScaler

def standardize(metro):
    scaler = StandardScaler()
    train = metro.ZHVI_AllHomes.values.reshape(-1, 1)
    return scaler.fit_transform(train)

for i in tqdm(metro):
    i['ZHVI_std'] = standardize(i)

100%|██████████| 653/653 [00:01<00:00, 585.05it/s]

In [5]:
#metro

In [6]:
def movingAverage_normalize(a, n=5) :
    ret = np.cumsum(a, dtype=float)
    ret[n:] = ret[n:] - ret[:-n]
    moving_avg = ret[n - 1:] / n
    return np.array([(x-np.mean(moving_avg))/np.std(moving_avg) for x in moving_avg])
#fig, ax = plt.subplots()
#ax.scatter(pd.to_datetime(city1['Date'][4:]).dt.date, movingAverage_normalize(city1['ZHVI_AllHomes'].values))
#plt.show()
movingAverage_normalize(city1['ZHVI_AllHomes'].values)
# don't send moving average 
#  CHECK IF AFFECTS MOVING AVERAGE AFFECTS ARIMA

NameError: name 'city1' is not defined

In [ ]:
city1 = metro[0]
ames = data[data.CBSA_Code == '29420']
print(ames)
fig, ax = plt.subplots()
ax.plot(pd.to_datetime(ames['Date'][4:]).dt.date, movingAverage_normalize(ames['ZHVI_AllHomes'].values))
# ax.scatter(pd.to_datetime('2009-05-31'), ames[ames['Date'] == '2009-05-31']['ZHVI_AllHomes'])

In [12]:
def find_start(city):
    """
    returns recession start date, measured as the largest local maximum ZHVI for a given city
    takes: city (pd.dataframe) [Date, ZHVI_avg_norm]
    returns: start_date (pd.datetime)
    """
    THRESHOLD = 1


    last_date = city.sort_values('Date', ascending=False).iloc[0]['Date']
    city = city[city['Date'] < '2015']
    d = lambda i: city['ZHVI_std'].iloc[i] - city['ZHVI_std'].iloc[i-1]
    diffs = np.array([d(i) for i in range(1, len(city))])
    # reshape dataframe to include diffs
    city = city.iloc[1:]
    city['Diffs'] = diffs
    # find local maxes using diffs
    is_max = np.array([(city['Diffs'].iloc[i] >= 0) 
                       and (city['Diffs'].iloc[i+1] <= 0) 
                       and (city['Diffs'].iloc[i+1] - city['Diffs'].iloc[i] <= THRESHOLD) for i in range(len(city) - 1)])
    is_max = np.append(is_max, False)

    # check for presence of local maxes at all
    if np.count_nonzero(is_max) == 0:
        return last_date
    # add 'is_maximum' truth column to dataframe
    city['Max'] = is_max

    recession_minimum_date = my_min(city)
    
    # filter and find largest max
    recession_max = city[(city['Max'] == 1.0) & (city['Date'] < recession_minimum_date)].sort_values("ZHVI_std", ascending=False).iloc[0]
    start_date = recession_max['Date']
    return start_date

In [13]:

def my_min(city_df, threshold=-0.002):
    THRESHOLD = threshold


    city_df = city_df[(city_df['Date'] > '2010-01-01') & (city_df['Date'] < '2015-01-01')]
    my_zhvi = city_df['ZHVI_std'].to_numpy()

    min_indeces = argrelextrema(my_zhvi, np.less)[0]
    min_vals = [my_zhvi[val] for val in min_indeces]
    min_dates = [city_df['Date'].to_numpy()[val] for val in min_indeces]


    curr_index = 0

    for i in range(len(min_vals)):
        if i == len(min_vals) - 1:
            curr_index = len(min_vals) - 1
            break
        else:
            if np.diff([min_vals[i], min_vals[i + 1]]) <= THRESHOLD: curr_index += 1
            else:
                curr_index = i
                break

    try:
        return min_dates[curr_index]
    except:
        failed_cities.append(np.unique(city_df.CBSA_Code)[0])

In [14]:
failed_cities = []
def ARIMA_50(city, start, params=(5,1,1)):
    """
    Params:
    city -- time-series dataframe object containing Date and ZHVI columns
    start -- datetime object from index of city representing peak ZHVI
    params -- p, d, and q parameters for ARIMA
    """
    
    #add start.dt.strftime('%Y-%m-%d') to convert datetime to string
    
    from statsmodels.tsa.arima_model import ARIMA
    
    before = city[['Date', 'ZHVI_std']]
#     print(before.shape, start)
    before = before[before['Date'] < start].set_index(['Date'])['ZHVI_std'].values
    steps = city.shape[0] - before.shape[0]
    try:
        model = ARIMA(before, order=(5, 1, 1))
        model_fit = model.fit(disp=0)
        return model_fit.forecast(steps)[0]
    except:
        failed_cities.append(np.unique(city.CBSA_Code)[0])
        return np.repeat(city[city['Date'] == start].ZHVI_AllHomes, steps)

In [15]:
def find_end(city, start, ARIMA_50):
    """
    returns recession end date, measured as the first point of intersection between ZHVI and ARIMA_50 for a given city
    takes: city (pd.dataframe) [Date, ZHVI_avg_norm], ARIMA_50 (pd.dataframe) [Date, forecasted_ZHVI_norm] 
    returns: end_date (pd.datetime)
    """
    # calculate diffs
    recession_ZHVI = city[city['Date'] >= start]
    diffs = ARIMA_50 - recession_ZHVI['ZHVI_std'].values
    city_resid = pd.DataFrame(data={'Date': recession_ZHVI['Date'].values, 'Delta': diffs})
    # filter only positive residuals, and most recent one is the last recession date
    most_recent_positive_delta = city_resid[city_resid['Delta'] > 0].sort_values("Date", ascending=False)
   # if ARIMA model indicates a sharp drop, set end date as one month after start date
    if (most_recent_positive_delta.shape[0] == 0):
        return city_resid.Date.values[0]
    end_date = most_recent_positive_delta['Date'].iloc[0]
#     print(end_date)
    return end_date

In [16]:
def calc_resid(city, predicted, start, end):
    """
    Params:
    city -- time-series dataframe object containing Date and ZHVI columns
    predicted -- predicted values from max to last date of city time-series
    max -- datetime object from index of city representing peak ZHVI
    end -- datetime object from index of city representing intersection of 
    actual and predicted ZHVI or last date of actual
    """
    
    # get indices of start and end date and use those to splice arrays
    recession_ZHVI = city[city['Date'] >= start]
    recession_ZHVI = recession_ZHVI[recession_ZHVI['Date'] < end]
    end_index = len(recession_ZHVI)
    predicted_to_end = predicted[:end_index]
    diffs = predicted_to_end - recession_ZHVI['ZHVI_std'].values
    return sum(diffs)

In [17]:
def find_AU3(metro):
#     print("City: {}".format(np.unique(metro.CBSA_Code)))
    start = find_start(metro)
    arima = ARIMA_50(metro, start)
#     fig, ax = plt.subplots()
#     ax.plot(pd.to_datetime(metro['Date'][4:]).dt.date, movingAverage_normalize(metro['ZHVI_AllHomes'].values))
#     print(metro[metro['Date'] > start].shape)
    end = find_end(metro, start, arima)
    return calc_resid(metro, arima, start, end)

In [18]:
#metro[0]
find_AU3(metro[1])

48.13812915827829

In [22]:
AU3_output = list(map(find_AU3, tqdm(metro)))

3%|▎         | 19/653 [00:13<07:36,  1.39it/s]/home/freebreadstix/.local/lib/python3.8/site-packages/statsmodels/base/model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warn('Inverting hessian failed, no bse or cov_params '
  5%|▌         | 34/653 [00:24<07:36,  1.36it/s]/home/freebreadstix/.local/lib/python3.8/site-packages/statsmodels/base/model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warn('Inverting hessian failed, no bse or cov_params '
  6%|▋         | 42/653 [00:29<06:48,  1.50it/s]/home/freebreadstix/.local/lib/python3.8/site-packages/statsmodels/base/model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warn('Inverting hessian failed, no bse or cov_params '
/home/freebreadstix/.local/lib/python3.8/site-packages/statsmodels/base/model.py:567: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warn("Maximum Likelihood optimization failed to converge. "
  8%|▊         | 49/653 [00:34<06:00,  1.68it/s]/home/freebreadstix/.local/lib/python3.8/site-packages/statsmodels/base/model.py:567: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warn("Maximum Likelihood optimization failed to converge. "
  8%|▊         | 52/653 [00:38<08:00,  1.25it/s]/home/freebreadstix/.local/lib/python3.8/site-packages/statsmodels/base/model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warn('Inverting hessian failed, no bse or cov_params '
/home/freebreadstix/.local/lib/python3.8/site-packages/statsmodels/base/model.py:567: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warn("Maximum Likelihood optimization failed to converge. "
 17%|█▋        | 109/653 [01:17<06:31,  1.39it/s]/home/freebreadstix/.local/lib/python3.8/site-packages/statsmodels/base/model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warn('Inverting hessian failed, no bse or cov_params '
 22%|██▏       | 144/653 [01:41<05:21,  1.58it/s]/home/freebreadstix/.local/lib/python3.8/site-packages/statsmodels/base/model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warn('Inverting hessian failed, no bse or cov_params '
/home/freebreadstix/.local/lib/python3.8/site-packages/statsmodels/base/model.py:567: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warn("Maximum Likelihood optimization failed to converge. "
 25%|██▍       | 163/653 [01:59<05:58,  1.37it/s]

IndexError: list index out of range

In [35]:
failed_cities

['11020',
 '13020',
 '13060',
 '13940',
 '14220',
 '14780',
 '16180',
 '16260',
 '17200',
 '21740',
 '25060',
 '28500',
 '28780',
 '29420',
 '29500',
 '30060',
 '32620',
 '32860',
 '34140',
 '35840',
 '39500',
 '40180',
 '41760',
 '43940',
 '46860',
 '48460']

In [ ]:
adjusted_outputs = [np.log(i) if i > 0 else i for i in np.abs(AU3_output)]
plt.hist(adjusted_outputs)
max(adjusted_outputs), min(adjusted_outputs)

In [ ]:
cbsa_codes = [m['CBSA_Code'].iloc[0] for m in metro]

final_metro = pd.DataFrame(data={"CBSA_Codes": cbsa_codes, "AU3": adjusted_outputs})
final_metro.to_csv("AU3_results.csv")

In [50]:
final_metro.sort_values('AU3', ascending=True)

    CBSA_Codes        AU3
424      36420  -4.152092
222      23780  -3.721457
336      30700  -3.098149
427      36540  -2.414623
162      19780  -1.871264
..         ...        ...
114      17200  17.364266
519      41760  17.449039
77       14780  17.597436
605      46860  17.735015
95       16180  17.988556

[653 rows x 2 columns]

In [26]:
final_metro.sort_values('AU3', ascending=False)

    CBSA_Codes        AU3
95       16180  17.988556
605      46860  17.735015
77       14780  17.597436
519      41760  17.449039
114      17200  17.364266
..         ...        ...
162      19780  -1.871264
427      36540  -2.414623
336      30700  -3.098149
222      23780  -3.721457
424      36420  -4.152092

[653 rows x 2 columns]

In [36]:
df = pd.DataFrame({"Date": [], "CBSA_Code": [], "ZHVI_AllHomes": [], "ZHVI_std": []})
for i in tqdm(metro):
    df = df.append(i)

100%|██████████| 653/653 [00:03<00:00, 198.30it/s]

In [37]:
df.to_csv("./datasets/normed_ZHVI.csv")

## Everything below this cell is experimental/debugging

In [ ]:
# RANDOM STUFF DELETE LATER

from statsmodels.tsa.arima_model import ARIMA
city1.tail()
before = city1[['Date', 'ZHVI_AllHomes']][city1['Date'] < '2017-08-31'].set_index(['Date'])['ZHVI_AllHomes']
model = ARIMA(endog=np.array(before, dtype=np.float), order=(5, 1, 1))
model_fit = model.fit(disp=0)
#np.array(before, dtype=np.float)[0]
#city1['dt'] = city1
#np.array(city1['Date'], dtype='datetime64')
model_fit.predict(before.shape[0], city1.shape[0])

In [ ]:
city1 = city1[city1['Date'] < "2012"]
d = lambda i: city1['ZHVI_AllHomes'].iloc[i] - city1['ZHVI_AllHomes'].iloc[i-1]
diffs = np.array([d(i) for i in range(1, len(city1))])
# reshape dataframe to include diffs
city1 = city1.iloc[1:]
city1['Diffs'] = diffs
city1['Diffs']
# find local maxes using diffs
is_max = np.array([(city1['Diffs'].iloc[i] >= 0) and (city1['Diffs'].iloc[i+1] <= 0) for i in range(len(city1) - 1)])
is_max = np.append(is_max, False)

# check for presence of local maxes at all
if np.count_nonzero(is_max) == 0:
    print(0)
# add 'is_maximum' truth column to dataframe
city1['Max'] = is_max
# filter and find largest max
theMax = city1[city1['Max'] == 1.0].sort_values("ZHVI_AllHomes", ascending=False).iloc[0]
start_date = theMax['Date']
start_date

In [21]:
city1

              Date CBSA_Code  ZHVI_AllHomes  ZHVI_std
15439   1998-02-28     10140        80100.0 -1.632786
16171   1998-03-31     10140        81100.0 -1.581558
16903   1998-04-30     10140        83000.0 -1.484225
17637   1998-05-31     10140        84500.0 -1.407382
18371   1998-06-30     10140        85500.0 -1.356154
...            ...       ...            ...       ...
206628  2017-08-31     10140       147100.0  1.799503
207539  2017-09-30     10140       148800.0  1.886591
208450  2017-10-31     10140       150000.0  1.948065
209361  2017-11-30     10140       151400.0  2.019784
210272  2017-12-31     10140       153000.0  2.101749

[239 rows x 4 columns]

In [31]:
# Lucas

city1 = metro[0]
#find_AU3(city1)
find_AU3(city1)

276.5000888781456