In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


# Create Feature Vectors for Cosine Similarity with AU3
All of these figures are rough estimates by US Census and ACS data.

In [2]:
final_df = pd.read_csv("/Users/camilledunning/Desktop/ds3-zillow/datasets/heatmap_data/educational_attainment_2012.csv").iloc[1:]
final_df = final_df[['NAME', 'S1501_C01_014E']]
final_df['S1501_C01_014E'] = final_df['S1501_C01_014E'].astype(float) 
final_df = final_df.rename(columns = {'S1501_C01_014E': 'High School Graduation Rate'})

employment = pd.read_csv("/Users/camilledunning/Desktop/ds3-zillow/datasets/heatmap_data/employment_2012.csv").iloc[1:]['S2301_C04_026E']
final_df['Unemployment Rate'] = employment.astype(float)

health_insurance = pd.read_csv("/Users/camilledunning/Desktop/ds3-zillow/datasets/heatmap_data/health_insurance_2012.csv").iloc[1:]
health_insurance = health_insurance[['S2701_C01_001E', 'S2701_C02_001E']].astype(int)
health_insurance = health_insurance['S2701_C02_001E'].div(health_insurance['S2701_C01_001E'])
final_df['Percent Uninsured for Health'] = health_insurance.astype(float)

median_income = pd.read_csv("/Users/camilledunning/Desktop/ds3-zillow/datasets/heatmap_data/median_income_2012.csv")

num_households = median_income['S1903_C01_001E'].iloc[1:].astype(int)

median_income = median_income['S1903_C02_001E'].iloc[1:]
final_df['Median Household Income'] = median_income.astype(int)

food_stamps = pd.read_csv("/Users/camilledunning/Desktop/ds3-zillow/datasets/heatmap_data/food_stamps_2012.csv").iloc[1:]
food_stamps = food_stamps['S2201_C02_001E'].astype(int).div(num_households)
final_df['Percentage of Households on Food Stamps'] = food_stamps.astype(float)

final_df = final_df.sort_values(by = 'NAME')
final_df.NAME = final_df.NAME.map(lambda x: x.replace(' Metro Area', '').replace(' Micro Area', ''))
final_df

,NAME,High School Graduation Rate,Unemployment Rate,Percent Uninsured for Health,Median Household Income,Percentage of Households on Food Stamps
15,"Aberdeen, WA",86.6,23.7,0.173578,42057,0.216212
16,"Abilene, TX",83.5,17.5,0.187588,43407,0.136550
17,"Adrian, MI",91.0,25.8,0.111519,48224,0.140139
18,"Aguadilla-Isabela-San Sebasti?n, PR",66.0,31.8,0.059501,15339,0.454933
19,"Akron, OH",90.6,21.9,0.111187,49731,0.149729
...,...,...,...,...,...,...
10,"York-Hanover, PA",87.5,17.0,0.091445,55648,0.090488
11,"Youngstown-Warren-Boardman, OH-PA",88.7,13.6,0.118995,40686,0.179525
12,"Yuba City, CA",80.2,24.0,0.158815,45646,0.136201
13,"Yuma, AZ",71.6,20.6,0.255714,39485,0.219310
14,"Zanesville, OH",86.8,19.3,0.138075,39266,0.233645

In [3]:
au3 = pd.read_csv("/Users/camilledunning/Desktop/ds3-zillow/AU3_results.csv")[:-1].rename(columns = {'CBSA_Codes': 'RegionName'})
au3['RegionName'].iloc[1:] = au3['RegionName'].iloc[1:].astype(int)
metro_data = pd.read_csv("/Users/camilledunning/Desktop/ds3-zillow/datasets/metro_data.csv")[['RegionName', 'MetroName']]
au3 = pd.merge(au3, metro_data, on = 'RegionName')
au3 = au3.drop_duplicates(subset=None, keep='first', inplace=False).drop(columns = ['Unnamed: 0', 'RegionName'])
au3 = au3.rename(columns = {'MetroName': 'NAME'})
au3

             AU3            NAME
0       0.795075         Ada, OK
261     6.300922      Adrian, MI
522     5.965741       Akron, OH
783     5.699291      Albany, GA
1044    5.281652      Albany, OR
...          ...             ...
166912  6.255158  Youngstown, OH
167173  6.139532   Yuba City, CA
167434  6.139876        Yuma, AZ
167695  4.602732  Zanesville, OH
167956  0.539039      Zapata, TX

[651 rows x 2 columns]

In [4]:
final_df_au3 = au3.merge(final_df, on = 'NAME', how = 'right', suffixes = ('', '_y')).dropna()
col_list = list(final_df_au3)
col_list[0], col_list[1] = col_list[1], col_list[0]
final_df_au3 = final_df_au3.ix[:, col_list]
final_df_au3

,NAME,AU3,High School Graduation Rate,Unemployment Rate,Percent Uninsured for Health,Median Household Income,Percentage of Households on Food Stamps
0,"Adrian, MI",6.300922,91.0,25.8,0.111519,48224,0.140139
1,"Akron, OH",5.965741,90.6,21.9,0.111187,49731,0.149729
2,"Albany, GA",5.699291,79.9,19.3,0.206726,34469,0.238583
3,"Albuquerque, NM",5.356778,88.0,13.4,0.153148,46725,0.156425
4,"Alexandria, LA",4.384656,84.6,8.9,0.164420,40896,0.214571
...,...,...,...,...,...,...,...
241,"Worcester, MA",5.764700,89.9,16.5,0.041914,62505,0.130972
242,"Yakima, WA",4.417720,70.7,12.8,0.231651,43942,0.248458
243,"Yuba City, CA",6.139532,80.2,24.0,0.158815,45646,0.136201
244,"Yuma, AZ",6.139876,71.6,20.6,0.255714,39485,0.219310
245,"Zanesville, OH",4.602732,86.8,19.3,0.138075,39266,0.233645

## Normalise, Create 'Good/Bad' Measure

In [5]:
def normalise(col):
    return (col - col.min()) / (col.max() - col.min())

def reverse_measure(col):
    return 1 - col

for i in range(1, len(final_df_au3.columns)):
    final_df_au3[final_df_au3.columns[i]] = normalise(final_df_au3[final_df_au3.columns[i]])

# Higher statistics are 'worse'
reverse_measure_cols = ['Unemployment Rate', 'Percent Uninsured for Health', 'Percentage of Households on Food Stamps']

for reverse_measure_col in reverse_measure_cols:
    final_df_au3[reverse_measure_col] = reverse_measure(final_df_au3[reverse_measure_col])

final_df_au3

,NAME,AU3,High School Graduation Rate,Unemployment Rate,Percent Uninsured for Health,Median Household Income,Percentage of Households on Food Stamps
0,"Adrian, MI",0.472119,0.849693,0.430464,0.745593,0.461355,0.650064
1,"Akron, OH",0.456980,0.837423,0.516556,0.746685,0.496239,0.621239
2,"Albany, GA",0.444946,0.509202,0.573951,0.432802,0.142960,0.354174
3,"Albuquerque, NM",0.429476,0.757669,0.704194,0.608827,0.426657,0.601115
4,"Alexandria, LA",0.385569,0.653374,0.803532,0.571794,0.291729,0.426345
...,...,...,...,...,...,...,...
241,"Worcester, MA",0.447900,0.815951,0.635762,0.974275,0.791926,0.677616
242,"Yakima, WA",0.387062,0.226994,0.717439,0.350912,0.362237,0.324493
243,"Yuba City, CA",0.464829,0.518405,0.470199,0.590208,0.401681,0.661901
244,"Yuma, AZ",0.464845,0.254601,0.545254,0.271855,0.259068,0.412101
245,"Zanesville, OH",0.395419,0.720859,0.573951,0.658347,0.253999,0.369015

## Transpose DataFrame for Feature Creation

In [17]:
f = final_df_au3.T
new_header = f.iloc[0]
f = f[1:]
f.columns = new_header
f

NAME,"Adrian, MI","Akron, OH","Albany, GA","Albuquerque, NM","Alexandria, LA","Altoona, PA","Amarillo, TX","Anchorage, AK","Ann Arbor, MI","Appleton, WI",...,"Williamsport, PA","Wilmington, NC","Wilson, NC","Winston-Salem, NC","Wooster, OH","Worcester, MA","Yakima, WA","Yuba City, CA","Yuma, AZ","Zanesville, OH"
AU3,0.472119,0.45698,0.444946,0.429476,0.385569,0.187533,0.416473,0.41543,0.469004,0.370647,...,0.336301,0.45028,0.435019,0.430139,0.458806,0.4479,0.387062,0.464829,0.464845,0.395419
High School Graduation Rate,0.849693,0.837423,0.509202,0.757669,0.653374,0.834356,0.592025,0.898773,0.923313,0.898773,...,0.748466,0.794479,0.469325,0.653374,0.717791,0.815951,0.226994,0.518405,0.254601,0.720859
Unemployment Rate,0.430464,0.516556,0.573951,0.704194,0.803532,0.551876,0.907285,0.587196,0.589404,0.812362,...,0.512141,0.516556,0.589404,0.611479,0.845475,0.635762,0.717439,0.470199,0.545254,0.573951
Percent Uninsured for Health,0.745593,0.746685,0.432802,0.608827,0.571794,0.801137,0.426751,0.509792,0.857325,0.936759,...,0.838896,0.580028,0.480283,0.557622,0.660635,0.974275,0.350912,0.590208,0.271855,0.658347
Median Household Income,0.461355,0.496239,0.14296,0.426657,0.291729,0.300109,0.419921,1,0.64899,0.737784,...,0.403162,0.502442,0.202009,0.323164,0.45492,0.791926,0.362237,0.401681,0.259068,0.253999
Percentage of Households on Food Stamps,0.650064,0.621239,0.354174,0.601115,0.426345,0.555971,0.710947,0.759484,0.711399,0.831091,...,0.699349,0.689063,0.505477,0.632779,0.714047,0.677616,0.324493,0.661901,0.412101,0.369015

In [119]:
vector = {k: [np.repeat(f[k].iloc[0], 5)] for k in list(f.columns)}
non_au3_dict = {k: [f[k].iloc[1:6].values] for k in list(f.columns)}

for k in au3_dict.keys():
    vector[k] = np.append(au3_dict[k], non_au3_dict[k])[0:10]

vector

cott, AZ': array([0.4550318483450017, 0.4550318483450017, 0.4550318483450017,
        0.4550318483450017, 0.4550318483450017, 0.8067484662576684,
        0.8432671081677704, 0.5662423633403535, 0.3643897132010833,
        0.6439880952866428], dtype=object),
 'Pueblo, CO': array([0.43555172120556535, 0.43555172120556535, 0.43555172120556535,
        0.43555172120556535, 0.43555172120556535, 0.7392638036809817,
        0.3156732891832229, 0.6780625634714005, 0.300201384227217,
        0.49430697074985075], dtype=object),
 'Punta Gorda, FL': array([0.47061147296308964, 0.47061147296308964, 0.47061147296308964,
        0.47061147296308964, 0.47061147296308964, 0.7883435582822085, 0.0,
        0.5877995447654447, 0.39244461933751534, 0.7414136602562655],
       dtype=object),
 'Racine, WI': array([0.4455027283387302, 0.4455027283387302, 0.4455027283387302,
        0.4455027283387302, 0.4455027283387302, 0.763803680981595,
        0.554083885209713, 0.7111515544217053, 0.5465382745769773,
        0.5749461469201655], dtype=object),
 'Rapid City, SD': array([0.4183681628656547, 0.4183681628656547, 0.4183681628656547,
        0.4183681628656547, 0.4183681628656547, 0.8527607361963188,
        0.8498896247240618, 0.7352372014271853, 0.5113307562324946,
        0.7633254368596059], dtype=object),
 'Reading, PA': array([0.42650373916432244, 0.42650373916432244, 0.42650373916432244,
        0.42650373916432244, 0.42650373916432244, 0.6411042944785276,
        0.695364238410596, 0.758783463148182, 0.5492696928311844,
        0.6681577285947666], dtype=object),
 'Redding, CA': array([0.4661516581663774, 0.4661516581663774, 0.4661516581663774,
        0.4661516581663774, 0.4661516581663774, 0.7760736196319016,
        0.6048565121412803, 0.5680817020073003, 0.39695840374065416,
        0.7935708943037589], dtype=object),
 'Richmond, IN': array([0.4923894235528382, 0.4923894235528382, 0.4923894235528382,
        0.4923894235528382, 0.4923894235528382, 0.647239263803681,
        0.8035320088300221, 0.4290653543573869, 0.11786764195273258,
        0.5747013599889941], dtype=object),
 'Richmond, VA': array([0.43200057441515677, 0.43200057441515677, 0.43200057441515677,
        0.43200057441515677, 0.43200057441515677, 0.7361963190184048,
        0.6777041942604856, 0.6892716006320656, 0.6591514085322099,
        0.74526306366936], dtype=object),
 'Roanoke, VA': array([0.42385400929767614, 0.42385400929767614, 0.42385400929767614,
        0.42385400929767614, 0.42385400929767614, 0.7300613496932512,
        0.8167770419426048, 0.6983921949531023, 0.4324205458206986,
        0.7172051570585787], dtype=object),
 'Roanoke Rapids, NC': array([0.45684988629281253, 0.45684988629281253, 0.45684988629281253,
        0.45684988629281253, 0.45684988629281253, 0.43251533742331305,
        0.6026490066225165, 0.6053895369647173, 0.03789264137404227, 0.0],
       dtype=object),
 'Rochester, MN': array([0.44931683155233954, 0.44931683155233954, 0.44931683155233954,
        0.44931683155233954, 0.44931683155233954, 0.9447852760736193,
        0.8344370860927153, 0.885592384215256, 0.8203513807550751,
        0.8443653157213887], dtype=object),
 'Rochester, NY': array([0.16240145829439503, 0.16240145829439503, 0.16240145829439503,
        0.16240145829439503, 0.16240145829439503, 0.8312883435582823,
        0.6467991169977925, 0.8796826126139928, 0.5186916969514594,
        0.6590497139134576], dtype=object),
 'Rockford, IL': array([0.4585693575244667, 0.4585693575244667, 0.4585693575244667,
        0.4585693575244667, 0.4585693575244667, 0.7300613496932512,
        0.5121412803532008, 0.7125104191829641, 0.5174417258859748,
        0.5978397895777554], dtype=object),
 'Rocky Mount, NC': array([0.44739657765537494, 0.44739657765537494, 0.44739657765537494,
        0.44739657765537494, 0.44739657765537494, 0.4693251533742329,
        0.6512141280353201, 0.49195944523065205, 0.20893034883451772,
        0.3240005494200746], dtype=object),
 'Rome, GA': array([0.45420751094216893, 0.45420751094216893, 0.45420751094216893,
        0.45420751094216893, 0.45420751094216893, 0.45092024539877296,
        0.5011037527593818, 0.4703489889809742, 0.22101340246753548,
        0.45891373694808446], dtype=object),
 'Roseburg, OR': array([0.43195624283000505, 0.43195624283000505, 0.43195624283000505,
        0.43195624283000505, 0.43195624283000505, 0.7361963190184048,
        0.39514348785871967, 0.6543343657762258, 0.2653642276799148,
        0.2976004631481247], dtype=object),
 'Russellville, AR': array([0.36525461517868574, 0.36525461517868574, 0.36525461517868574,
        0.36525461517868574, 0.36525461517868574, 0.5337423312883436,
        0.8962472406181016, 0.5589471626023281, 0.3108955811208074,
        0.7370517581749925], dtype=object),
 'St. Cloud, MN': array([0.4429523833024398, 0.4429523833024398, 0.4429523833024398,
        0.4429523833024398, 0.4429523833024398, 0.8650306748466257,
        0.7637969094922737, 0.8933326531837245, 0.6083192518691697,
        0.8332721146862515], dtype=object),
 'St. George, UT': array([0.4637395336071689, 0.4637395336071689, 0.4637395336071689,
        0.4637395336071689, 0.4637395336071689, 0.8680981595092021,
        0.6445916114790287, 0.5425454387464954, 0.35980648596097314,
        0.7865268008424707], dtype=object),
 'Salem, OR': array([0.4356173305157242, 0.4356173305157242, 0.4356173305157242,
        0.4356173305157242, 0.4356173305157242, 0.6871165644171779,
        0.5143487858719646, 0.5559585756851367, 0.401911992777945,
        0.3044133747175992], dtype=object),
 'Salinas, CA': array([0.4752801142305028, 0.4752801142305028, 0.4752801142305028,
        0.4752801142305028, 0.4752801142305028, 0.20245398773006157,
        0.7792494481236203, 0.4207548787503578, 0.6901692090460869,
        0.8080118279827702], dtype=object),
 'Salisbury, MD': array([0.45003447288660636, 0.45003447288660636, 0.45003447288660636,
        0.45003447288660636, 0.45003447288660636, 0.6595092024539876,
        0.7505518763796909, 0.7405780191725965, 0.4875813059882873,
        0.5866419040787577], dtype=object),
 'Salt Lake City, UT': array([0.453066272633589, 0.453066272633589, 0.453066272633589,
        0.453066272633589, 0.453066272633589, 0.7944785276073619,
        0.7284768211920529, 0.5913305617179172, 0.7353533483021226,
        0.7652493661493267], dtype=object),
 'Sandusky, OH': array([0.47657762500323125, 0.47657762500323125, 0.47657762500323125,
        0.47657762500323125, 0.47657762500323125, 0.7760736196319016,
        0.7461368653421634, 0.7952650024767627, 0.3796439897224601,
        0.6627412422423051], dtype=object),
 'Santa Fe, NM': array([0.4673043890551251, 0.4673043890551251, 0.4673043890551251,
        0.4673043890551251, 0.4673043890551251, 0.7269938650306748,
        0.6026490066225165, 0.3588838572110987, 0.5191315015856115,
        0.6939203875594232], dtype=object),
 'Savannah, GA': array([0.4437913229070778, 0.4437913229070778, 0.4437913229070778,
        0.4437913229070778, 0.4437913229070778, 0.7668711656441716,
        0.6777041942604856, 0.5387684817919833, 0.43438809286822067,
        0.7640076779549765], dtype=object),
 'Searcy, AR': array([0.31565656208786347, 0.31565656208786347, 0.31565656208786347,
        0.31565656208786347, 0.31565656208786347, 0.6411042944785276,
        0.9403973509933775, 0.5149206022595536, 0.24443878613920975,
        0.6424694983813777], dtype=object),
 'Sebring, FL': array([0.47462711861044443, 0.47462711861044443, 0.47462711861044443,
        0.47462711861044443, 0.47462711861044443, 0.5644171779141105,
        0.4679911699779249, 0.5830926512407466, 0.14907062336519988,
        0.6600628165271185], dtype=object),
 'Seneca, SC': array([0.48225977324361496, 0.48225977324361496, 0.48225977324361496,
        0.48225977324361496, 0.48225977324361496, 0.5276073619631901,
        0.2516556291390728, 0.5450964394875517, 0.2104117960232402,
        0.6071241379769903], dtype=object),
 'Sevierville, TN': array([0.4518619940465626, 0.4518619940465626, 0.4518619940465626,
        0.4518619940465626, 0.4518619940465626, 0.6411042944785276,
        0.836644591611479, 0.4433576183078157, 0.16791277979676397,
        0.6478299121432451], dtype=object),
 'Sheboygan, WI': array([0.4505249857314464, 0.4505249857314464, 0.4505249857314464,
        0.4505249857314464, 0.4505249857314464, 0.791411042944785,
        0.5584988962472406, 0.8431981220076575, 0.3274692715446402,
        0.46324727908172614], dtype=object),
 'Shelby, NC': array([0.45512699858158423, 0.45512699858158423, 0.45512699858158423,
        0.45512699858158423, 0.45512699858158423, 0.5797546012269938,
        0.4039735099337748, 0.5690841904564914, 0.5464225365153584,
        0.5921385161780787], dtype=object),
 'Show Low, AZ': array([0.4735451705895629, 0.4735451705895629, 0.4735451705895629,
        0.4735451705895629, 0.4735451705895629, 0.4999999999999998,
        0.3443708609271523, 0.4775624217794069, 0.13900141200435176,
        0.2313513755128076], dtype=object),
 'Sioux Falls, SD': array([0.10457768341037176, 0.10457768341037176, 0.10457768341037176,
        0.10457768341037176, 0.10457768341037176, 0.8650306748466257,
        0.6666666666666666, 0.7890405367610902, 0.542857804217495,
        0.8189032945787773], dtype=object),
 'Somerset, PA': array([0.4154649872737142, 0.4154649872737142, 0.4154649872737142,
        0.4154649872737142, 0.4154649872737142, 0.6932515337423314,
        0.5916114790286975, 0.81241207494811, 0.41596259345848474,
        0.6645575074903302], dtype=object),
 'Spartanburg, SC': array([0.43127525357942414, 0.43127525357942414, 0.43127525357942414,
        0.43127525357942414, 0.43127525357942414, 0.549079754601227,
        0.640176600441501, 0.5124353857354496, 0.29133584870720586,
        0.608640900892486], dtype=object),
 'Spokane, WA': array([0.42613378122486484, 0.42613378122486484, 0.42613378122486484,
        0.42613378122486484, 0.42613378122486484, 0.9018404907975459,
        0.6931567328918322, 0.7023346055363309, 0.4474664938311613,
        0.5011961078110962], dtype=object),
 'Springfield, IL': array([0.3103379447132701, 0.3103379447132701, 0.3103379447132701,
        0.3103379447132701, 0.3103379447132701, 0.8742331288343556,
        0.45253863134657835, 0.803252955463227, 0.6325779495845003,
        0.7517445165749983], dtype=object),
 'Springfield, MA': array([0.43829990259712126, 0.43829990259712126, 0.43829990259712126,
        0.43829990259712126, 0.43829990259712126, 0.7515337423312881,
        0.6710816777041942, 0.9896366865971552, 0.5379042151802041,
        0.48658822382219946], dtype=object),
 'Springfield, MO': array([0.43285494039554523, 0.43285494039554523, 0.43285494039554523,
        0.43285494039554523, 0.43285494039554523, 0.773006134969325,
        0.49227373068432667, 0.6253519586159059, 0.32337214416332954,
        0.6199161427218833], dtype=object),
 'Springfield, OH': array([0.4693097983705438, 0.4693097983705438, 0.4693097983705438,
        0.4693097983705438, 0.4693097983705438, 0.7331288343558282,
        0.3377483443708609, 0.7071996696827885, 0.2519617601444411,
        0.4263253338963775], dtype=object),
 'State College, PA': array([0.2633679477793652, 0.2633679477793652, 0.2633679477793652,
        0.2633679477793652, 0.2633679477793652, 0.8865030674846626,
        0.7350993377483444, 0.8580019490260726, 0.5211916390824286,
        0.8315811015360962], dtype=object),
 'Statesboro, GA': array([0.44474121350318724, 0.44474121350318724, 0.44474121350318724,
        0.44474121350318724, 0.44474121350318724, 0.6625766871165645,
        0.7019867549668874, 0.5867807082077356, 0.1750653920048147,
        0.62106599334927], dtype=object),
 'Stevens Point, WI': array([0.4591698256902833, 0.4591698256902833, 0.4591698256902833,
        0.4591698256902833, 0.4591698256902833, 0.8957055214723925,
        0.7439293598233996, 0.8784088426830783, 0.3917038957431541,
        0.6845889149566379], dtype=object),
 'Stillwater, OK': array([0.3724234029150874, 0.3724234029150874, 0.3724234029150874,
        0.3724234029150874, 0.3724234029150874, 0.8251533742331288,
        0.8410596026490066, 0.6647925209951326, 0.17448670169671998,
        0.7668538301895892], dtype=object),
 'Stockton, CA': array([0.4738226010544736, 0.4738226010544736, 0.4738226010544736,
        0.4738226010544736, 0.4738226010544736, 0.46012269938650296,
        0.6026490066225165, 0.5352270147267254, 0.519177796810259,
        0.6643359252648594], dtype=object),
 'Sunbury, PA': array([0.4659750028180822, 0.4659750028180822, 0.4659750028180822,
        0.4659750028180822, 0.4659750028180822, 0.7085889570552149,
        0.5231788079470199, 0.7372487533717786, 0.2929330339575473,
        0.708933103608093], dtype=object),
 'Syracuse, NY': array([0.39679793045433837, 0.39679793045433837, 0.39679793045433837,
        0.39679793045433837, 0.39679793045433837, 0.8067484662576684,
        0.6688741721854304, 0.8734185475447394, 0.5316080646281336,
        0.6377894040906233], dtype=object),
 'Tallahassee, FL': array([0.45447133162677794, 0.45447133162677794, 0.45447133162677794,
        0.45447133162677794, 0.45447133162677794, 0.8159509202453988,
        0.5960264900662251, 0.6594537928557884, 0.3801300895812597,
        0.6174961625088056], dtype=object),
 'Terre Haute, IN': array([0.48937536420367655, 0.48937536420367655, 0.48937536420367655,
        0.48937536420367655, 0.48937536420367655, 0.7239263803680982,
        0.7748344370860927, 0.6006263287610456, 0.29503946667901204,
        0.5847132914814936], dtype=object),
 'The Villages, FL': array([0.43027564732794465, 0.43027564732794465, 0.43027564732794465,
        0.43027564732794465, 0.43027564732794465, 0.7423312883435582,
        0.706401766004415, 0.7289342643622966, 0.39073169602555496,
        0.8608475443489454], dtype=object),
 'Toledo, OH': array([0.4680610083095869, 0.4680610083095869, 0.4680610083095869,
        0.4680610083095869, 0.4680610083095869, 0.8098159509202454,
        0.4459161147902869, 0.7607855980531091, 0.3481632369621074,
        0.5394883771956791], dtype=object),
 'Torrington, CT': array([0.4496940905703455, 0.4496940905703455, 0.4496940905703455,
        0.4496940905703455, 0.4496940905703455, 0.8343558282208587,
        0.49227373068432667, 0.8591960461122502, 0.9112057591259461,
        0.8638805534466953], dtype=object),
 'Tucson, AZ': array([0.4942246686073974, 0.4942246686073974, 0.4942246686073974,
        0.4942246686073974, 0.4942246686073974, 0.7453987730061347,
        0.5960264900662251, 0.6192029289383567, 0.3812180273604778,
        0.5902329480041797], dtype=object),
 'Tullahoma, TN': array([0.40190743147640623, 0.40190743147640623, 0.40190743147640623,
        0.40190743147640623, 0.40190743147640623, 0.6441717791411041,
        0.7439293598233996, 0.6234525501401554, 0.2837202842526793,
        0.5471610969207825], dtype=object),
 'Tulsa, OK': array([0.34159798149751835, 0.34159798149751835, 0.34159798149751835,
        0.34159798149751835, 0.34159798149751835, 0.763803680981595,
        0.7461368653421634, 0.5266635543486018, 0.45545242008286846,
        0.6975314325313919], dtype=object),
 'Tupelo, MS': array([0.3968947529853536, 0.3968947529853536, 0.3968947529853536,
        0.3968947529853536, 0.3968947529853536, 0.5276073619631901,
        0.7328918322295805, 0.6096047424385569, 0.25117474132543227,
        0.6352807555846931], dtype=object),
 'Tuscaloosa, AL': array([0.4430141799702951, 0.4430141799702951, 0.4430141799702951,
        0.4430141799702951, 0.4430141799702951, 0.6687116564417175,
        0.6666666666666666, 0.7222909992112581, 0.2420314344575357,
        0.6313296086751737], dtype=object),
 'Ukiah, CA': array([0.46795128755218196, 0.46795128755218196, 0.46795128755218196,
        0.46795128755218196, 0.46795128755218196, 0.7055214723926378,
        0.7571743929359823, 0.549462797750024, 0.3026781787458624,
        0.6997821473108974], dtype=object),
 'Valdosta, GA': array([0.4478722824400281, 0.4478722824400281, 0.4478722824400281,
        0.4478722824400281, 0.4478722824400281, 0.5858895705521473,
        0.5695364238410596, 0.39356263544623027, 0.188953959399088,
        0.42428971589652087], dtype=object),
 'Warner Robins, GA': array([0.4374482577276446, 0.4374482577276446, 0.4374482577276446,
        0.4374482577276446, 0.4374482577276446, 0.7975460122699385,
        0.7174392935982339, 0.6833594258066342, 0.6056341288396102,
        0.6261593836740245], dtype=object),
 'Warsaw, IN': array([0.33143043440080383, 0.33143043440080383, 0.33143043440080383,
        0.33143043440080383, 0.33143043440080383, 0.7147239263803679,
        0.7770419426048565, 0.6444311469170523, 0.4862850396981551,
        0.7268501063178445], dtype=object),
 'Wausau, WI': array([0.42219131960076456, 0.42219131960076456, 0.42219131960076456,
        0.42219131960076456, 0.42219131960076456, 0.8098159509202454,
        0.4348785871964679, 0.7938011196841999, 0.5584592949237286,
        0.7815268743555446], dtype=object),
 'Whitewater, WI': array([0.4191013359086119, 0.4191013359086119, 0.4191013359086119,
        0.4191013359086119, 0.4191013359086119, 0.8282208588957053,
        0.8543046357615894, 0.7702840377381468, 0.30980764334158933,
        0.8330240487939928], dtype=object),
 'Williamsport, PA': array([0.33630105230188273, 0.33630105230188273, 0.33630105230188273,
        0.33630105230188273, 0.33630105230188273, 0.7484662576687117,
        0.5121412803532008, 0.8388961432685977, 0.40316196384342956,
        0.6993486769323816], dtype=object),
 'Wilmington, NC': array([0.45027969977574916, 0.45027969977574916, 0.45027969977574916,
        0.45027969977574916, 0.45027969977574916, 0.7944785276073619,
        0.5165562913907285, 0.580027985128347, 0.5024420731001598,
        0.6890633768321701], dtype=object),
 'Wilson, NC': array([0.4350189596974653, 0.4350189596974653, 0.4350189596974653,
        0.4350189596974653, 0.4350189596974653, 0.4693251533742329,
        0.5894039735099337, 0.48028323920830474, 0.20200921274970488,
        0.5054765699397648], dtype=object),
 'Winston-Salem, NC': array([0.4301388516114296, 0.4301388516114296, 0.4301388516114296,
        0.4301388516114296, 0.4301388516114296, 0.6533742331288341,
        0.6114790286975718, 0.5576222756262975, 0.3231638156524155,
        0.6327794373842679], dtype=object),
 'Wooster, OH': array([0.4588060766915283, 0.4588060766915283, 0.4588060766915283,
        0.4588060766915283, 0.4588060766915283, 0.7177914110429447,
        0.8454746136865342, 0.6606346710185493, 0.4549200249994213,
        0.7140468413729568], dtype=object),
 'Worcester, MA': array([0.44789981408913593, 0.44789981408913593, 0.44789981408913593,
        0.44789981408913593, 0.44789981408913593, 0.8159509202453988,
        0.6357615894039734, 0.9742750211190857, 0.7919261128214624,
        0.6776160053319968], dtype=object),
 'Yakima, WA': array([0.387062406972652, 0.387062406972652, 0.387062406972652,
        0.387062406972652, 0.387062406972652, 0.22699386503067495,
        0.7174392935982339, 0.35091153165876154, 0.36223698525497094,
        0.324492584864714], dtype=object),
 'Yuba City, CA': array([0.46482939293904907, 0.46482939293904907, 0.46482939293904907,
        0.46482939293904907, 0.46482939293904907, 0.5184049079754601,
        0.4701986754966887, 0.5902076875383283, 0.40168051665470705,
        0.6619006344910772], dtype=object),
 'Yuma, AZ': array([0.464844919103677, 0.464844919103677, 0.464844919103677,
        0.464844919103677, 0.464844919103677, 0.2546012269938649,
        0.5452538631346577, 0.27185544865081646, 0.25906807712784424,
        0.41210119073171503], dtype=object),
 'Zanesville, OH': array([0.3954185842689179, 0.3954185842689179, 0.3954185842689179,
        0.3954185842689179, 0.3954185842689179, 0.7208588957055213,
        0.5739514348785871, 0.658346738143706, 0.2539987500289345,
        0.3690152748438139], dtype=object)}

In [120]:
def cos_sim(metro):
    arr1 = vector[metro][:5]
    arr2 = vector[metro][5:]

    # Compute cosine similarity
    dot = np.dot(arr1, arr2)
    norma = np.linalg.norm(arr1)
    normb = np.linalg.norm(arr2)
    cos = dot / (norma * normb)

    return cos

for k in vector.keys():
    vector[k] = cos_sim(k)

vector

{'Adrian, MI': 0.9684700251626623,
 'Akron, OH': 0.9797400574785176,
 'Albany, GA': 0.9376392460178677,
 'Albuquerque, NM': 0.983763329252753,
 'Alexandria, LA': 0.9515907373759734,
 'Altoona, PA': 0.9525424897774313,
 'Amarillo, TX': 0.9577355773401577,
 'Anchorage, AK': 0.9713345791288622,
 'Ann Arbor, MI': 0.9861092409996391,
 'Appleton, WI': 0.9966354283472125,
 'Asheville, NC': 0.9739723797405444,
 'Ashtabula, OH': 0.9328616297916407,
 'Auburn, NY': 0.9794818316529008,
 'Bangor, ME': 0.9425835710767471,
 'Baton Rouge, LA': 0.9934580265222465,
 'Battle Creek, MI': 0.9481458818190563,
 'Bay City, MI': 0.9711770049279249,
 'Beaver Dam, WI': 0.9868542475921412,
 'Bellingham, WA': 0.98451726242968,
 'Bend, OR': 0.9673165902065688,
 'Billings, MT': 0.9741612719759141,
 'Binghamton, NY': 0.9756478073046098,
 'Bismarck, ND': 0.9941000577136663,
 'Bloomington, IN': 0.9503183639226421,
 'Boulder, CO': 0.9958892327694606,
 'Bowling Green, KY': 0.9694796971114366,
 'Brunswick, GA': 0.9663357880177333,
 'Burlington, NC': 0.9656098823518525,
 'Carson City, NV': 0.9813482226424157,
 'Casper, WY': 0.9866713964390406,
 'Cedar Rapids, IA': 0.9797541807108066,
 'Centralia, WA': 0.9531765567814947,
 'Chambersburg, PA': 0.9946553928170375,
 'Champaign-Urbana, IL': 0.9718490442041096,
 'Charleston, WV': 0.9858243176434975,
 'Charlottesville, VA': 0.9998523619955904,
 'Cheyenne, WY': 0.9889629123513385,
 'Chico, CA': 0.9642261069391617,
 'Chillicothe, OH': 0.953143871452903,
 'Clearlake, CA': 0.8888193863487154,
 'Cleveland, TN': 0.954291975609504,
 "Coeur d'Alene, ID": 0.9614448450693781,
 'Colorado Springs, CO': 0.9883170976692357,
 'Columbia, MO': 0.9607480226496686,
 'Columbia, SC': 0.9862889620682679,
 'Columbus, OH': 0.9924526416871822,
 'Concord, NH': 0.9953311726704889,
 'Cookeville, TN': 0.9218762785230072,
 'Coos Bay, OR': 0.9067567898393151,
 'Corning, NY': 0.9798857720819064,
 'Corvallis, OR': 0.9736316056286772,
 'Crestview-Fort Walton Beach-Destin, FL': 0.9883889417126824,
 'Cullman, AL': 0.9537983945967151,
 'Dalton, GA': 0.8559702594633845,
 'Danville, VA': 0.9518398823974398,
 'Dayton, OH': 0.8916206248418562,
 'Decatur, IL': 0.9305160219713073,
 'Dover, DE': 0.9877617841787102,
 'East Stroudsburg, PA': 0.9771010715926026,
 'Eau Claire, WI': 0.9799864044354845,
 'El Centro, CA': 0.8933347105818921,
 'Elizabeth City, NC': 0.9902477798293072,
 'Elizabethtown, KY': 0.9843986193123693,
 'Elmira, NY': 0.9717449438113654,
 'El Paso, TX': 0.8958736156952362,
 'Erie, PA': 0.9658858332711837,
 'Fairbanks, AK': 0.9864373657776686,
 'Farmington, NM': 0.9590335157395582,
 'Fayetteville, NC': 0.9752649986037041,
 'Findlay, OH': 0.9496626242415644,
 'Flagstaff, AZ': 0.959992328385945,
 'Flint, MI': 0.8914875062418752,
 'Florence, SC': 0.9509812570660438,
 'Fond du Lac, WI': 0.9907830455330081,
 'Fort Wayne, IN': 0.9819052135081229,
 'Frankfort, KY': 0.9858659933789885,
 'Fresno, CA': 0.965974387072729,
 'Gadsden, AL': 0.9433868154692525,
 'Gainesville, FL': 0.9225421833005826,
 'Gainesville, GA': 0.9636805177616353,
 'Galesburg, IL': 0.9600413423071771,
 'Gallup, NM': 0.7344216876375442,
 'Gettysburg, PA': 0.993257117611373,
 'Glens Falls, NY': 0.9937065981304835,
 'Goldsboro, NC': 0.9634222434916655,
 'Grand Island, NE': 0.9752008202487829,
 'Grand Junction, CO': 0.9774416597790871,
 'Grants Pass, OR': 0.9066921084261604,
 'Great Falls, MT': 0.9650393505044476,
 'Greeley, CO': 0.9884811670401467,
 'Green Bay, WI': 0.9867368183720648,
 'Greeneville, TN': 0.9262031134646511,
 'Hammond, LA': 0.9469527708765203,
 'Harrisonburg, VA': 0.9739873300527747,
 'Hattiesburg, MS': 0.9458701458099416,
 'Hilo, HI': 0.9770111842847904,
 'Homosassa Springs, FL': 0.95113709500815,
 'Hot Springs, AR': 0.9597704901440136,
 'Idaho Falls, ID': 0.9773182273539418,
 'Indiana, PA': 0.9706171749044396,
 'Iowa City, IA': 0.9861937893565588,
 'Ithaca, NY': 0.9768638008064547,
 'Jackson, MI': 0.9574125340764099,
 'Jackson, MS': 0.9739323300982269,
 'Jackson, TN': 0.9745674099575022,
 'Jacksonville, FL': 0.9762814648974525,
 'Jacksonville, NC': 0.9665980028174994,
 'Janesville, WI': 0.9625669466565048,
 'Johnson City, TN': 0.9607468236225547,
 'Johnstown, PA': 0.9504314921138621,
 'Jonesboro, AR': 0.9444371306823505,
 'Joplin, MO': 0.9416873461801003,
 'Keene, NH': 0.9937343807586001,
 'Key West, FL': 0.9464436103664863,
 'Kingston, NY': 0.9910825950259203,
 'Klamath Falls, OR': 0.9209774030263592,
 'Knoxville, TN': 0.977936157902574,
 'Lafayette, LA': 0.9883474204706991,
 'Lake Charles, LA': 0.9820799407516138,
 'Lake City, FL': 0.8731774942570006,
 'Lancaster, PA': 0.9636778854381599,
 'Laredo, TX': 0.5571660271631722,
 'Las Cruces, NM': 0.9631916511753963,
 'Lawrence, KS': 0.9778045799360714,
 'Lawton, OK': 0.971523623122241,
 'Lebanon, PA': 0.9885839901786154,
 'Lima, OH': 0.9612235357406392,
 'Lincoln, NE': 0.9838070754432378,
 'Longview, WA': 0.9745780787731166,
 'Lumberton, NC': 0.8235802968743102,
 'Lynchburg, VA': 0.9737720268857963,
 'Macon, GA': 0.9612848088200848,
 'Madison, WI': 0.9942715734717826,
 'Mansfield, OH': 0.9644842438630365,
 'Marion, IN': 0.9201104419766544,
 'Marquette, MI': 0.9632446696118292,
 'Martinsville, VA': 0.8906084765579318,
 'Medford, OR': 0.9647661373645791,
 'Merced, CA': 0.9164294850088497,
 'Midland, MI': 0.9817214444624315,
 'Midland, TX': 0.9633145794329651,
 'Missoula, MT': 0.9547016781877271,
 'Mobile, AL': 0.9624352327618114,
 'Modesto, CA': 0.992365222276436,
 'Monroe, MI': 0.9837215360209107,
 'Montgomery, AL': 0.977964408824754,
 'Morgantown, WV': 0.9427365531873345,
 'Morristown, TN': 0.9664748776626663,
 'Mount Airy, NC': 0.9675454225829752,
 'Muncie, IN': 0.9286383579296327,
 'Napa, CA': 0.9820583241754018,
 'New Bern, NC': 0.9849572465079536,
 'Oak Harbor, WA': 0.9930485021436108,
 'Ocala, FL': 0.9494194235073772,
 'Ocean City, NJ': 0.9562398667387546,
 'Oklahoma City, OK': nan,
 'Olean, NY': 0.9681927675909612,
 'Olympia, WA': 0.983644215903206,
 'Orangeburg, SC': 0.9223616675216073,
 'Owensboro, KY': 0.9703336826898052,
 'Owosso, MI': 0.9402102630532828,
 'Palatka, FL': 0.8870348904298487,
 'Peoria, IL': 0.9919408350472668,
 'Pittsburgh, PA': 0.9796943213262324,
 'Pittsfield, MA': 0.9619175777152975,
 'Plattsburgh, NY': 0.9797762072152818,
 'Pocatello, ID': 0.9617790646281096,
 'Port Angeles, WA': 0.9584995051381614,
 'Port St. Lucie, FL': 0.9684707680168078,
 'Portsmouth, OH': 0.8973714039857905,
 'Pottsville, PA': 0.9788351117459517,
 'Prescott, AZ': 0.9656863182939129,
 'Pueblo, CO': 0.941819193358037,
 'Punta Gorda, FL': 0.8684395822022892,
 'Racine, WI': 0.9900141248447544,
 'Rapid City, SD': 0.986212320143868,
 'Reading, PA': 0.9946527787545287,
 'Redding, CA': 0.9739544157957,
 'Richmond, IN': 0.9115205875615289,
 'Richmond, VA': 0.99885830596979,
 'Roanoke, VA': 0.9822155392840196,
 'Roanoke Rapids, NC': 0.783351671373254,
 'Rochester, MN': 0.9986504965912667,
 'Rochester, NY': 0.9831076140025085,
 'Rockford, IL': 0.9887510507784889,
 'Rocky Mount, NC': 0.9431037169322962,
 'Rome, GA': 0.9722504268694455,
 'Roseburg, OR': 0.9264789676438232,
 'Russellville, AR': 0.9507773344785294,
 'St. Cloud, MN': 0.9918524159907632,
 'St. George, UT': 0.9627888264245825,
 'Salem, OR': 0.966371442882369,
 'Salinas, CA': 0.92788548120058,
 'Salisbury, MD': 0.9885008508888433,
 'Salt Lake City, UT': 0.9953617649950209,
 'Sandusky, OH': 0.9750381673292875,
 'Santa Fe, NM': 0.9749346537498379,
 'Savannah, GA': 0.9795657933874194,
 'Searcy, AR': 0.9357186345272996,
 'Sebring, FL': 0.938300270831598,
 'Seneca, SC': 0.934042593405363,
 'Sevierville, TN': 0.9237909777717573,
 'Sheboygan, WI': 0.950467561447612,
 'Shelby, NC': 0.9919279076434256,
 'Show Low, AZ': 0.9249384540750493,
 'Sioux Falls, SD': 0.9876157512672736,
 'Somerset, PA': 0.9794590913776053,
 'Spartanburg, SC': 0.9732326095630424,
 'Spokane, WA': 0.970255552930116,
 'Springfield, IL': 0.9785577092018197,
 'Springfield, MA': 0.9680695171308101,
 'Springfield, MO': 0.96641420913067,
 'Springfield, OH': 0.929440844278617,
 'State College, PA': 0.9853213973749662,
 'Statesboro, GA': 0.944468781015826,
 'Stevens Point, WI': 0.96942354419153,
 'Stillwater, OK': 0.935200557608618,
 'Stockton, CA': 0.9920523345209247,
 'Sunbury, PA': 0.9619228018004812,
 'Syracuse, NY': 0.9852675430587855,
 'Tallahassee, FL': 0.9749912391963261,
 'Terre Haute, IN': 0.9629870362657063,
 'The Villages, FL': 0.9747973539245475,
 'Toledo, OH': 0.9559958351962036,
 'Torrington, CT': 0.9820848902717041,
 'Tucson, AZ': 0.980639098781849,
 'Tullahoma, TN': 0.9645176444338158,
 'Tulsa, OK': 0.9816492098535904,
 'Tupelo, MS': 0.9586109847454556,
 'Tuscaloosa, AL': 0.9584263519281834,
 'Ukiah, CA': 0.9643899792053309,
 'Valdosta, GA': 0.9489979720874847,
 'Warner Robins, GA': 0.9950485389572586,
 'Warsaw, IN': 0.9888040616400793,
 'Wausau, WI': 0.9757508436023113,
 'Whitewater, WI': 0.9611414289031858,
 'Williamsport, PA': 0.9703373741446527,
 'Wilmington, NC': 0.984259696279533,
 'Wilson, NC': 0.960248279248767,
 'Winston-Salem, NC': 0.9772654040592647,
 'Wooster, OH': 0.9828609542186273,
 'Worcester, MA': 0.9885903771815342,
 'Yakima, WA': 0.9212000927220966,
 'Yuba City, CA': 0.9855710937203772,
 'Yuma, AZ': 0.9501315580396044,
 'Zanesville, OH': 0.9460080677472814}