In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
data = pd.read_csv('countypres_2000-2016.csv')

In [17]:
data.drop(['version', 'state_po', 'state', 'office', 'candidate', 'totalvotes'], axis=1, inplace=True)
data.head()

   year   county    FIPS       party  candidatevotes
0  2000  Autauga  1001.0    democrat          4942.0
1  2000  Autauga  1001.0  republican         11993.0
2  2000  Autauga  1001.0       green           160.0
3  2000  Autauga  1001.0         NaN           113.0
4  2000  Baldwin  1003.0    democrat         13997.0

In [ ]:
def max_votes(series):
    np.argmax(series)
    return max(series['candidatevotes'])

In [18]:
df = data.groupby(['year', 'county']).agg({'candidatevotes': 'min'})
df

                      candidatevotes
year county
2000 Abbeville                  66.0
     Acadia                    227.0
     Accomack                  220.0
     Ada                      2939.0
     Adair                      29.0
     Adams                      23.0
     Addison                   331.0
     Aiken                     494.0
     Aitkin                    272.0
     Alachua                  1014.0
     Alamance                  327.0
     Alameda                  4669.0
     Alamosa                    82.0
     Albany                    280.0
     Albemarle                 257.0
     Alcona                     25.0
     Alcorn                    101.0
     Alexander                  28.0
     Alexandria                429.0
     Alfalfa                    38.0
     Alger                      27.0
     Allamakee                 103.0
     Allegan                   269.0
     Allegany                  211.0
     Alleghany                  39.0
     Allegheny                6579.0
     Allen                      31.0
     Allendale                  17.0
     Alpena                     48.0
     Alpine                     15.0
...                              ...
2016 Woodson                    88.0
     Woodward                  375.0
     Worcester                1310.0
     Worth                      43.0
     Wright                    242.0
     Wyandot                   609.0
     Wyandotte                2829.0
     Wyoming                   222.0
     Wythe                     527.0
     Yadkin                    584.0
     Yakima                   4724.0
     Yalobusha                 119.0
     Yamhill                  6202.0
     Yancey                    379.0
     Yankton                   663.0
     Yates                     747.0
     Yavapai                  7530.0
     Yazoo                     103.0
     Yell                      351.0
     Yellow Medicine           370.0
     Yellowstone              6017.0
     Yoakum                     80.0
     Yolo                     6599.0
     York                      495.0
     Young                     230.0
     Yuba                     1918.0
     Yuma                      215.0
     Zapata                     50.0
     Zavala                     66.0
     Ziebach                    46.0

[9269 rows x 1 columns]