# Statistics to Use (Ideas)
- Political - ?
- Population Density
- Migration patterns
- Age demographics
- Culture - ?
- Interest Rates
- GDP
- Number of housing units
- Proximity to social/metro centres
- City Age -- History (how would we quantify?) 
- Imports/Exports - ?
- Main Industry/Sector - Resources, raw materials
- Average Income
- Number of Schools, Education
- Geographic Location
- Number of highways, transporation infrastructure
- Terrain 

## Economic
Interest Rates, GDP, Imports/Exports, Average Income

## Important
- <b>Politics</b>
    - Partisan segration, polarity
- <b>Education</b>
- Abundance of housing units - ?
- City Age/History
- <b>Main Industry Sector</b>
- <b> Economic Measures</b>
- <b>Geographic Location</b>
    - Proximity to other cities, metro centres
- Number of highways, transporation infrastructure

# TO-DO:
- Add more features, fix poverty data

In [2]:
# Import Necessary Libraries
import numpy as np 
import pandas as pd

# FEATURE 1: RATIO OF PEOPLE TAKING PUBLIC TRANSPORATION TO WORK

transportation_data = pd.read_csv('../datasets/transportation_data/ACSST5Y2010.S0802_data_with_overlays_2020-03-04T134515.csv')

# Filter data to get only appropriate metropolitan areas
transportation_data = transportation_data[~transportation_data.NAME.str.contains('United State')]
num_public_transport = transportation_data['S0802_C04_001E'].to_numpy()[1:].astype(int)
num_workers = transportation_data['S0802_C01_001E'].to_numpy()[1:].astype(int)
ratio = np.divide(num_public_transport, num_workers)

# Standardisation, Feature Scaling
ratio = (ratio - np.mean(ratio))/(ratio.std())
ratio = [float(r) for r in ratio]

# Create new DataFrame with each metro area and corresponding attribute values
new_df = pd.DataFrame(zip(transportation_data['NAME'].to_numpy()[1:],  ratio), columns = ['metro_name', 'ratio_of_public_transport']).set_index('metro_name').sort_values('metro_name')
new_df['ratio_of_public_transport'].fillna(0, inplace = True)
new_df

AttributeError: 'Series' object has no attribute 'to_numpy'

In [ ]:


# FEATURE 2: MEDIAN HOUSEHOLD INCOME

income_data = pd.read_csv('../datasets/income_data/ACSST5Y2010.S2503_data_with_overlays_2020-03-04T163518.csv')
income_data = income_data[~income_data.NAME.str.contains('United States')]
median_income = income_data['S2503_C01_013E'].to_numpy()[1:].astype(int)

# Standardise
median_income = (median_income - np.mean(median_income))/(median_income.std())

# Make sure every element of the median_income column is a float
new_df['median_income'] = [float(m) for m in median_income]
new_df

In [ ]:
# FEATURE 3: PERCENT BELOW POVERTY LEVEL

#### CURRENTLY NOT WORKING #####

poverty_data = pd.read_csv('../datasets/poverty_data/ACSST1Y2010.S1701_data_with_overlays_2020-03-04T183351.csv')
poverty_data = poverty_data[~poverty_data.NAME.str.contains('United States')]
percentages = poverty_data['S1701_C03_001E'].to_numpy()[1:].astype(float)
percentages = (percentages - np.mean(percentages)) / np.std(percentages)

poverty_df = pd.DataFrame(zip(poverty_data['NAME'][1:], percentages),
             columns = ['metro_name', 'pctg_below_poverty_line']).sort_values('metro_name')

new_df2 = new_df.merge(poverty_df, on = 'metro_name', how='outer', suffixes=('', '_y')).fillna(0)
new_df2

In [ ]:
# FEATURE 4: POPULATION OF PEOPLE 3 AND OVER ENROLLED IN SCHOOL

school_data = pd.read_csv('../datasets/school_data/ACSST5Y2010.S1401_data_with_overlays_2020-03-04T192940.csv')

# Log-transform, standardise
enrolled = school_data['S1401_C01_001E'].to_numpy()[1:].astype(int)
enrolled = (enrolled - np.mean(enrolled)) / np.std(enrolled)

# Correct type, save to test DataFrame
new_df2['enrolled_in_school'] = [float(e) for e in enrolled]
new_df2.to_csv('test_01.csv')
new_df2

In [73]:
political_df = pd.read_csv('../geographic_eda/countypres_2000-2016.csv')
political_df = political_df[#(political_df['year'] == 2004) &
                            ((political_df['party'] == 'democrat')
                           | (political_df['party'] == 'republican'))] #keep only dem and rep parties
political_df.drop(
    ['version', 'state_po', 'state', 'office', 'candidate', 'totalvotes'], 
    axis=1, inplace=True)
political_df.dropna(subset=['FIPS'], axis=0, inplace=True)
political_df.rename(columns={'county': 'CountyName'}, inplace=True)
political_df['CountyName'] = political_df['CountyName'].apply(lambda x: str(x))

print(political_df['party'].unique())
political_df.head()

['democrat' 'republican']

   year CountyName    FIPS       party  candidatevotes
0  2000    Autauga  1001.0    democrat          4942.0
1  2000    Autauga  1001.0  republican         11993.0
4  2000    Baldwin  1003.0    democrat         13997.0
5  2000    Baldwin  1003.0  republican         40872.0
8  2000    Barbour  1005.0    democrat          5188.0

In [78]:
cw = pd.read_csv('../datasets/CountyCrossWalk_Zillow.csv')
cw.head()

,CountyName,StateName,StateFIPS,CountyFIPS,MetroName_Zillow,CBSAName,CountyRegionID_Zillow,MetroRegionID_Zillow,FIPS,CBSACode
0,Pike,Pennsylvania,42,103,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",280,394913.0,42103,35620.0
1,Bronx,New York,36,5,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",401,394913.0,36005,35620.0
2,Essex,New Jersey,34,13,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",504,394913.0,34013,35620.0
3,Kings,New York,36,47,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",581,394913.0,36047,35620.0
4,Ocean,New Jersey,34,29,"New York, NY","New York-Newark-Jersey City, NY-NJ-PA",659,394913.0,34029,35620.0

In [80]:
cw = cw[['CountyName', 'CBSACode']]
cw['CountyName'] = cw['CountyName'].apply(lambda x: str(x))
cw.head()

  CountyName  CBSACode
0       Pike   35620.0
1      Bronx   35620.0
2      Essex   35620.0
3      Kings   35620.0
4      Ocean   35620.0

In [89]:
political_df.merge(cw, left_on='CountyName', right_on='CountyName', how='left')

        year   CountyName    FIPS       party  candidatevotes  CBSACode
0       2000      Autauga  1001.0    democrat          4942.0   33860.0
1       2000      Autauga  1001.0  republican         11993.0   33860.0
2       2000      Baldwin  1003.0    democrat         13997.0   19300.0
3       2000      Baldwin  1003.0    democrat         13997.0   33300.0
4       2000      Baldwin  1003.0  republican         40872.0   19300.0
5       2000      Baldwin  1003.0  republican         40872.0   33300.0
6       2000      Barbour  1005.0    democrat          5188.0       NaN
7       2000      Barbour  1005.0    democrat          5188.0       NaN
8       2000      Barbour  1005.0  republican          5096.0       NaN
9       2000      Barbour  1005.0  republican          5096.0       NaN
10      2000         Bibb  1007.0    democrat          2710.0   13820.0
11      2000         Bibb  1007.0    democrat          2710.0   31420.0
12      2000         Bibb  1007.0  republican          4273.0   13820.0
13      2000         Bibb  1007.0  republican          4273.0   31420.0
14      2000       Blount  1009.0    democrat          4977.0   13820.0
15      2000       Blount  1009.0    democrat          4977.0   28940.0
16      2000       Blount  1009.0  republican         12667.0   13820.0
17      2000       Blount  1009.0  republican         12667.0   28940.0
18      2000      Bullock  1011.0    democrat          3395.0       NaN
19      2000      Bullock  1011.0  republican          1433.0       NaN
20      2000       Butler  1013.0    democrat          3606.0   38300.0
21      2000       Butler  1013.0    democrat          3606.0   17140.0
22      2000       Butler  1013.0    democrat          3606.0   48620.0
23      2000       Butler  1013.0    democrat          3606.0   14540.0
24      2000       Butler  1013.0    democrat          3606.0   38740.0
25      2000       Butler  1013.0    democrat          3606.0       NaN
26      2000       Butler  1013.0    democrat          3606.0       NaN
27      2000       Butler  1013.0    democrat          3606.0       NaN
28      2000       Butler  1013.0  republican          4127.0   38300.0
29      2000       Butler  1013.0  republican          4127.0   17140.0
...      ...          ...     ...         ...             ...       ...
149748  2016  District 27  2027.0    democrat          3729.0       NaN
149749  2016  District 27  2027.0  republican          4085.0       NaN
149750  2016  District 28  2028.0    democrat          4749.0       NaN
149751  2016  District 28  2028.0  republican          5423.0       NaN
149752  2016  District 29  2029.0    democrat          2101.0       NaN
149753  2016  District 29  2029.0  republican          6347.0       NaN
149754  2016  District 30  2030.0    democrat          1816.0       NaN
149755  2016  District 30  2030.0  republican          6194.0       NaN
149756  2016  District 31  2031.0    democrat          3466.0       NaN
149757  2016  District 31  2031.0  republican          5617.0       NaN
149758  2016  District 32  2032.0    democrat          2701.0       NaN
149759  2016  District 32  2032.0  republican          3764.0       NaN
149760  2016  District 33  2033.0    democrat          5978.0       NaN
149761  2016  District 33  2033.0  republican          2732.0       NaN
149762  2016  District 34  2034.0    democrat          4220.0       NaN
149763  2016  District 34  2034.0  republican          3955.0       NaN
149764  2016  District 35  2035.0    democrat          3749.0       NaN
149765  2016  District 35  2035.0  republican          4105.0       NaN
149766  2016  District 36  2036.0    democrat          2693.0       NaN
149767  2016  District 36  2036.0  republican          4460.0       NaN
149768  2016  District 37  2037.0    democrat          2421.0       NaN
149769  2016  District 37  2037.0  republican          1938.0       NaN
149770  2016  District 38  2038.0    democrat          2758.0       NaN
149771  2016  District 38  2038.0  republican          1143.0       NaN
149772  2016  District 39  2039.0    democrat          3142.0       NaN
149773  2016  District 39  2039.0  republican          1405.0       NaN
149774  2016  District 40  2040.0    democrat          2338.0       NaN
149775  2016  District 40  2040.0  republican          1377.0       NaN
149776  2016  District 99  2099.0    democrat           274.0       NaN
149777  2016  District 99  2099.0  republican            40.0       NaN

[149778 rows x 6 columns]