# Statistics to Use (Ideas)
- Political - ?
- Population Density
- Migration patterns
- Age demographics
- Culture - ?
- Interest Rates
- GDP
- Number of housing units
- Proximity to social/metro centres
- City Age -- History (how would we quantify?) 
- Imports/Exports - ?
- Main Industry/Sector - Resources, raw materials
- Average Income
- Number of Schools, Education
- Geographic Location
- Number of highways, transporation infrastructure
- Terrain 

## Economic
Interest Rates, GDP, Imports/Exports, Average Income

## Important
- <b>Politics</b>
    - Partisan segration, polarity
- <b>Education</b>
- Abundance of housing units - ?
- City Age/History
- <b>Main Industry Sector</b>
- <b> Economic Measures</b>
- <b>Geographic Location</b>
    - Proximity to other cities, metro centres
- Number of highways, transporation infrastructure

# TO-DO:
- Add more features, fix poverty data

In [73]:
# Import Necessary Libraries
import numpy as np 
import pandas as pd

# FEATURE 1: RATIO OF PEOPLE TAKING PUBLIC TRANSPORATION TO WORK

transportation_data = pd.read_csv('../datasets/transportation_data/ACSST5Y2010.S0802_data_with_overlays_2020-03-04T134515.csv')

# Filter data to get only appropriate metropolitan areas
transportation_data = transportation_data[~transportation_data.NAME.str.contains('United State')]
num_public_transport = transportation_data['S0802_C04_001E'].to_numpy()[1:].astype(int)
num_workers = transportation_data['S0802_C01_001E'].to_numpy()[1:].astype(int)
ratio = np.divide(num_public_transport, num_workers)

# Standardisation, Feature Scaling
ratio = (ratio - np.mean(ratio))/(ratio.std())
ratio = [float(r) for r in ratio]

# Create new DataFrame with each metro area and corresponding attribute values
new_df = pd.DataFrame(zip(transportation_data['NAME'].to_numpy()[1:],  ratio), columns = ['metro_name', 'ratio_of_public_transport']).set_index('metro_name').sort_values('metro_name')
new_df['ratio_of_public_transport'].fillna(0, inplace = True)
new_df

                                              ratio_of_public_transport
metro_name
Abbeville, LA Micro Area                                      -0.355924
Aberdeen, SD Micro Area                                       -0.362291
Aberdeen, WA Micro Area                                        0.248173
Abilene, TX Metro Area                                        -0.332337
Ada, OK Micro Area                                            -0.520086
...                                                                 ...
York-Hanover, PA Metro Area                                    0.002138
Youngstown-Warren-Boardman, OH-PA Metro Area                  -0.186601
Yuba City, CA Metro Area                                      -0.016467
Yuma, AZ Metro Area                                            0.635026
Zanesville, OH Micro Area                                     -0.383124

[955 rows x 1 columns]

In [74]:


# FEATURE 2: MEDIAN HOUSEHOLD INCOME

income_data = pd.read_csv('../datasets/income_data/ACSST5Y2010.S2503_data_with_overlays_2020-03-04T163518.csv')
income_data = income_data[~income_data.NAME.str.contains('United States')]
median_income = income_data['S2503_C01_013E'].to_numpy()[1:].astype(int)

# Standardise
median_income = (median_income - np.mean(median_income))/(median_income.std())

# Make sure every element of the median_income column is a float
new_df['median_income'] = [float(m) for m in median_income]
new_df

,ratio_of_public_transport,median_income
metro_name,,
"Abbeville, LA Micro Area",-0.355924,-0.622420
"Aberdeen, SD Micro Area",-0.362291,1.245645
"Aberdeen, WA Micro Area",0.248173,0.120348
"Abilene, TX Metro Area",-0.332337,0.407350
"Ada, OK Micro Area",-0.520086,0.195562
...,...,...
"York-Hanover, PA Metro Area",0.002138,0.532464
"Youngstown-Warren-Boardman, OH-PA Metro Area",-0.186601,0.268693
"Yuba City, CA Metro Area",-0.016467,0.193791
"Yuma, AZ Metro Area",0.635026,-0.604710
"Zanesville, OH Micro Area",-0.383124,0.707061

In [75]:
# FEATURE 3: PERCENT BELOW POVERTY LEVEL

#### CURRENTLY NOT WORKING #####

poverty_data = pd.read_csv('../datasets/poverty_data/ACSST1Y2010.S1701_data_with_overlays_2020-03-04T183351.csv')
poverty_data = poverty_data[~poverty_data.NAME.str.contains('United States')]
percentages = poverty_data['S1701_C03_001E'].to_numpy()[1:].astype(float)
percentages = (percentages - np.mean(percentages)) / np.std(percentages)

poverty_df = pd.DataFrame(zip(poverty_data['NAME'][1:], percentages),
             columns = ['metro_name', 'pctg_below_poverty_line']).sort_values('metro_name')

new_df2 = new_df.merge(poverty_df, on = 'metro_name', how='outer', suffixes=('', '_y')).fillna(0)
new_df2

,metro_name,ratio_of_public_transport,median_income,pctg_below_poverty_line
0,"Abbeville, LA Micro Area",-0.355924,-0.622420,0.000000
1,"Aberdeen, SD Micro Area",-0.362291,1.245645,0.000000
2,"Aberdeen, WA Micro Area",0.248173,0.120348,0.013290
3,"Abilene, TX Metro Area",-0.332337,0.407350,0.139864
4,"Ada, OK Micro Area",-0.520086,0.195562,0.000000
...,...,...,...,...
950,"York-Hanover, PA Metro Area",0.002138,0.532464,-1.252450
951,"Youngstown-Warren-Boardman, OH-PA Metro Area",-0.186601,0.268693,-0.002531
952,"Yuba City, CA Metro Area",-0.016467,0.193791,0.345547
953,"Yuma, AZ Metro Area",0.635026,-0.604710,0.472121
954,"Zanesville, OH Micro Area",-0.383124,0.707061,-0.002531

In [76]:
# FEATURE 4: POPULATION OF PEOPLE 3 AND OVER ENROLLED IN SCHOOL

school_data = pd.read_csv('../datasets/school_data/ACSST5Y2010.S1401_data_with_overlays_2020-03-04T192940.csv')

# Log-transform, standardise
enrolled = school_data['S1401_C01_001E'].to_numpy()[1:].astype(int)
enrolled = (enrolled - np.mean(enrolled)) / np.std(enrolled)

# Correct type, save to test DataFrame
new_df2['enrolled_in_school'] = [float(e) for e in enrolled]
new_df2.to_csv('test_01.csv')
new_df2

,metro_name,ratio_of_public_transport,median_income,pctg_below_poverty_line,enrolled_in_school
0,"Abbeville, LA Micro Area",-0.355924,-0.622420,0.000000,0.035869
1,"Aberdeen, SD Micro Area",-0.362291,1.245645,0.000000,0.346162
2,"Aberdeen, WA Micro Area",0.248173,0.120348,0.013290,-0.077303
3,"Abilene, TX Metro Area",-0.332337,0.407350,0.139864,0.455581
4,"Ada, OK Micro Area",-0.520086,0.195562,0.000000,-0.228167
...,...,...,...,...,...
950,"York-Hanover, PA Metro Area",0.002138,0.532464,-1.252450,-0.257513
951,"Youngstown-Warren-Boardman, OH-PA Metro Area",-0.186601,0.268693,-0.002531,0.005607
952,"Yuba City, CA Metro Area",-0.016467,0.193791,0.345547,-0.255924
953,"Yuma, AZ Metro Area",0.635026,-0.604710,0.472121,-0.217837
954,"Zanesville, OH Micro Area",-0.383124,0.707061,-0.002531,-0.184530

In [ ]:
new_df2['']