# Statistics to Use (Ideas)
- Political - ?
- Population Density
- Migration patterns
- Age demographics
- Culture - ?
- Interest Rates
- GDP
- Number of housing units
- Proximity to social/metro centres
- City Age -- History (how would we quantify?) 
- Imports/Exports - ?
- Main Industry/Sector - Resources, raw materials
- Average Income
- Number of Schools, Education
- Geographic Location
- Number of highways, transporation infrastructure
- Terrain 

## Economic
Interest Rates, GDP, Imports/Exports, Average Income

## Important
- <b>Politics</b>
    - Partisan segration, polarity
- <b>Education</b>
- Abundance of housing units - ?
- City Age/History
- <b>Main Industry Sector</b>
- <b> Economic Measures</b>
- <b>Geographic Location</b>
    - Proximity to other cities, metro centres
- Number of highways, transporation infrastructure

# TO-DO:
- Add more features, fix poverty data

In [2]:
# Import Necessary Libraries
import numpy as np 
import pandas as pd

# FEATURE 1: RATIO OF PEOPLE TAKING PUBLIC TRANSPORATION TO WORK

transportation_data = pd.read_csv('../datasets/transportation_data/ACSST5Y2010.S0802_data_with_overlays_2020-03-04T134515.csv')

# Filter data to get only appropriate metropolitan areas
transportation_data = transportation_data[~transportation_data.NAME.str.contains('United State')]

# Log-transform
num_public_transport = np.log10(np.ma.array(transportation_data['S0802_C04_001E'].to_numpy()[1:].astype(int)))
num_workers = np.log10(np.ma.array(transportation_data['S0802_C01_001E'].to_numpy()[1:].astype(int)))
ratio = np.divide(num_public_transport, num_workers)

# Standardisation, Feature Scaling
ratio = (ratio - np.mean(ratio))/(ratio.std())
ratio = [float(r) for r in ratio]

# Create new DataFrame with each metro area and corresponding attribute values
new_df = pd.DataFrame(zip(transportation_data['NAME'].to_numpy()[1:],  ratio), columns = ['metro_name', 'ratio_of_public_transport']).set_index('metro_name')
new_df['ratio_of_public_transport'].fillna(0, inplace = True)
new_df

                                      ratio_of_public_transport
metro_name
College Station-Bryan, TX Metro Area                   1.274381
Colorado Springs, CO Metro Area                        1.098373
Columbia, MO Metro Area                                0.216680
Columbia, SC Metro Area                                0.872824
Columbia, TN Micro Area                               -2.025492
...                                                         ...
Willmar, MN Micro Area                                 0.440277
Wilmington, NC Metro Area                              0.481194
Wilmington, OH Micro Area                             -0.010236
Wilson, NC Micro Area                                  0.047177
Winchester, VA-WV Metro Area                           0.847895

[955 rows x 1 columns]

In [3]:


# FEATURE 2: MEDIAN HOUSEHOLD INCOME

income_data = pd.read_csv('../datasets/income_data/ACSST5Y2010.S2503_data_with_overlays_2020-03-04T163518.csv')
income_data = income_data[~income_data.NAME.str.contains('United States')]

# Log-transform
median_income = np.log10(np.ma.array(income_data['S2503_C01_013E'].to_numpy()[1:].astype(int)))

# Standardise
median_income = (median_income - np.mean(median_income))/(median_income.std())

# Make sure every element of the median_income column is a float
new_df['median_income'] = [float(m) for m in median_income]
new_df

                                      ratio_of_public_transport  median_income
metro_name
College Station-Bryan, TX Metro Area                   1.274381      -0.524099
Colorado Springs, CO Metro Area                        1.098373       1.148940
Columbia, MO Metro Area                                0.216680       0.219432
Columbia, SC Metro Area                                0.872824       0.475929
Columbia, TN Micro Area                               -2.025492       0.288121
...                                                         ...            ...
Willmar, MN Micro Area                                 0.440277       0.583197
Wilmington, NC Metro Area                              0.481194       0.353888
Wilmington, OH Micro Area                             -0.010236       0.286517
Wilson, NC Micro Area                                  0.047177      -0.504815
Winchester, VA-WV Metro Area                           0.847895       0.728620

[955 rows x 2 columns]

In [4]:
# FEATURE 3: PERCENT BELOW POVERTY LEVEL

##### CURRENTLY NOT WORKING #####

# poverty_data = pd.read_csv('../datasets/poverty_data/ACSST1Y2010.S1701_data_with_overlays_2020-03-04T183351.csv')
# poverty_data = poverty_data[~poverty_data.NAME.str.contains('United States')]

# percentages = poverty_data['S1701_C03_001E'].to_numpy()[1:].astype(float)
# percentages = (percentages - np.mean(percentages)) / np.std(percentages)
# poverty_df = pd.DataFrame(zip(poverty_data['NAME'][1:], percentages),
#              columns = ['metro_name', 'pctg_below_poverty_line'])
            
# new_df = new_df.join(poverty_df.set_index('metro_name'), on = 'metro_name')
# poverty_mean = np.mean(new_df['pctg_below_poverty_line'])
# new_df['pctg_below_poverty_line'] = new_df['pctg_below_poverty_line'].fillna(poverty_mean, inplace = True)

In [5]:
# FEATURE 4: POPULATION OF PEOPLE 3 AND OVER ENROLLED IN SCHOOL

school_data = pd.read_csv('../datasets/school_data/ACSST5Y2010.S1401_data_with_overlays_2020-03-04T192940.csv')

# Log-transform, standardise
enrolled = np.log10(np.ma.array(school_data['S1401_C01_001E'].to_numpy()[1:].astype(int)))
enrolled = (enrolled - np.mean(enrolled)) / np.std(enrolled)

# Correct type, save to test DataFrame
new_df['enrolled_in_school'] = [float(e) for e in enrolled]
new_df.to_csv('test_01.csv')
new_df

,ratio_of_public_transport,median_income,enrolled_in_school
metro_name,,,
"College Station-Bryan, TX Metro Area",1.274381,-0.524099,1.031626
"Colorado Springs, CO Metro Area",1.098373,1.148940,1.561631
"Columbia, MO Metro Area",0.216680,0.219432,0.696153
"Columbia, SC Metro Area",0.872824,0.475929,1.687845
"Columbia, TN Micro Area",-2.025492,0.288121,-0.251108
...,...,...,...
"Willmar, MN Micro Area",0.440277,0.583197,-0.715944
"Wilmington, NC Metro Area",0.481194,0.353888,0.954770
"Wilmington, OH Micro Area",-0.010236,0.286517,-0.682515
"Wilson, NC Micro Area",0.047177,-0.504815,-0.135704
"Winchester, VA-WV Metro Area",0.847895,0.728620,0.152238