# Categories in Vector to Weigh:
- *LIFESTYLE* ratio_of_public_transport, enrolled_in_school, avg_fam_sz
- *ECONOMIC* median_income, pctg_below_poverty_line, hse_units
- *SIZE*: sqmi
- *POPULATION*: pop_sqmi
- *POLITICAL*: pct_dem, pct_repub (2000-2016 Elections)
- *GEOGRAPHIC*: latitude, longitude

- au3

In [19]:
categories = {'lifestyle': ['ratio_of_public_transport', 'enrolled_in_school', 'avg_fam_size'],
              'economic': ['median_income', 'avg_fam_size', 'pctg_below_poverty_line'],
              'size': ['sqmi'],
              'population': ['pop_sqmi'],
              'political': ['pct_dem', 'pct_repub'],
              'geographic': ['latitude', 'longitude']}

num_categories = [len(categories[c]) for c in categories]
num_categories

[3, 3, 1, 1, 2, 2]

In [20]:
import pandas as pd

vectors = pd.read_csv('../geographic_eda/clustering_vectors.csv')
vectors

,metro_name,cbsa_id,ratio_of_public_transport,median_income,pctg_below_poverty_line,enrolled_in_school,sqmi,hse_units,avg_fam_sz,pop_sqmi,pct_dem,pct_repub,latitude,longitude,au3
0,"Aberdeen, WA",10140.0,0.248173,0.120348,0.013290,-0.077303,0.028771,-0.207854,0.414232,-0.426037,1.023474,-1.023474,1.635780,-2.312895,0.375230
1,"Ada, OK",10220.0,-0.520086,0.195562,0.000000,-0.228167,-0.465152,-0.272564,0.455459,-0.351006,-1.291988,1.291988,-0.590006,-0.327322,-1.589582
2,"Adrian, MI",10300.0,-0.424802,0.868949,-0.429719,-0.224541,-0.450319,-0.178981,0.463704,0.072041,0.365331,-0.365331,0.758064,0.617013,0.583803
3,"Akron, OH",10420.0,0.191674,0.533610,-0.255679,-0.264682,-0.383568,0.758794,0.447214,3.422888,1.218050,-1.218050,0.604046,0.784054,0.255774
4,"Albany, GA",10500.0,0.001436,1.938825,1.674574,-0.159467,-0.102800,-0.100204,0.546157,-0.198816,-0.053201,0.053201,-1.174070,0.589454,0.259028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,"York-Hanover, PA",49620.0,0.002138,0.532464,-1.252450,-0.257513,-0.389084,0.292187,0.447214,1.915353,-0.018590,0.018590,0.405970,1.118538,0.454380
588,"Youngstown-Warren-Boardman, OH-PA",49660.0,-0.186601,0.268693,-0.002531,0.005607,-0.047236,0.574632,0.414232,1.099591,1.318976,-1.318976,0.573224,0.896621,0.294844
589,"Yuba City, CA",49700.0,-0.016467,0.193791,0.345547,-0.255924,-0.248958,-0.116118,0.818251,0.083215,-0.428676,0.428676,0.130559,-2.139824,1.016019
590,"Yuma, AZ",49740.0,0.635026,-0.604710,0.472121,-0.217837,1.500424,-0.024277,0.785270,-0.437744,-0.020970,0.020970,-0.929281,-1.554558,0.735752
591,"Zanesville, OH",49780.0,-0.383124,0.707061,-0.002531,-0.184530,-0.486748,-0.197721,0.422478,0.055012,-0.046548,0.046548,0.365984,0.722444,-0.253232