# Categories in Vector to Weigh:
- *LIFESTYLE* ratio_of_public_transport, enrolled_in_school, avg_fam_sz
- *ECONOMIC* median_income, pctg_below_poverty_line, hse_units
- *SIZE*: sqmi
- *POPULATION*: pop_sqmi
- *POLITICAL*: pct_dem, pct_repub (2000-2016 Elections)
- *GEOGRAPHIC*: latitude, longitude

- au3

In [51]:
import pandas as pd

# Dictionary of categories for weights
categories = {'lifestyle': ['ratio_of_public_transport', 'enrolled_in_school', 'avg_fam_sz'],
              'economic': ['median_income', 'pctg_below_poverty_line', 'hse_units'],
              'size': ['sqmi'],
              'population': ['pop_sqmi'],
              'political': ['pct_dem', 'pct_repub'],
              'geographic': ['latitude', 'longitude']}

vectors = pd.read_csv('../geographic_eda/clustering_vectors.csv')
vectors

,metro_name,cbsa_id,ratio_of_public_transport,median_income,pctg_below_poverty_line,enrolled_in_school,sqmi,hse_units,avg_fam_sz,pop_sqmi,pct_dem,pct_repub,latitude,longitude,au3
0,"Aberdeen, WA",10140.0,0.248173,0.120348,0.013290,-0.077303,0.028771,-0.207854,0.414232,-0.426037,1.023474,-1.023474,1.635780,-2.312895,0.375230
1,"Ada, OK",10220.0,-0.520086,0.195562,0.000000,-0.228167,-0.465152,-0.272564,0.455459,-0.351006,-1.291988,1.291988,-0.590006,-0.327322,-1.589582
2,"Adrian, MI",10300.0,-0.424802,0.868949,-0.429719,-0.224541,-0.450319,-0.178981,0.463704,0.072041,0.365331,-0.365331,0.758064,0.617013,0.583803
3,"Akron, OH",10420.0,0.191674,0.533610,-0.255679,-0.264682,-0.383568,0.758794,0.447214,3.422888,1.218050,-1.218050,0.604046,0.784054,0.255774
4,"Albany, GA",10500.0,0.001436,1.938825,1.674574,-0.159467,-0.102800,-0.100204,0.546157,-0.198816,-0.053201,0.053201,-1.174070,0.589454,0.259028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,"York-Hanover, PA",49620.0,0.002138,0.532464,-1.252450,-0.257513,-0.389084,0.292187,0.447214,1.915353,-0.018590,0.018590,0.405970,1.118538,0.454380
588,"Youngstown-Warren-Boardman, OH-PA",49660.0,-0.186601,0.268693,-0.002531,0.005607,-0.047236,0.574632,0.414232,1.099591,1.318976,-1.318976,0.573224,0.896621,0.294844
589,"Yuba City, CA",49700.0,-0.016467,0.193791,0.345547,-0.255924,-0.248958,-0.116118,0.818251,0.083215,-0.428676,0.428676,0.130559,-2.139824,1.016019
590,"Yuma, AZ",49740.0,0.635026,-0.604710,0.472121,-0.217837,1.500424,-0.024277,0.785270,-0.437744,-0.020970,0.020970,-0.929281,-1.554558,0.735752
591,"Zanesville, OH",49780.0,-0.383124,0.707061,-0.002531,-0.184530,-0.486748,-0.197721,0.422478,0.055012,-0.046548,0.046548,0.365984,0.722444,-0.253232

In [52]:
weighted_vectors = vectors[['metro_name', 'cbsa_id', 'au3']]

# Divide each column by how many total features are in its respective category
for k, v in categories.items():
    for val in v:
        weighted_vectors[val] = vectors[val] / len(v)

weighted_vectors

,metro_name,cbsa_id,au3,ratio_of_public_transport,enrolled_in_school,avg_fam_sz,median_income,pctg_below_poverty_line,hse_units,sqmi,pop_sqmi,pct_dem,pct_repub,latitude,longitude
0,"Aberdeen, WA",10140.0,0.375230,0.082724,-0.025768,0.138077,0.040116,0.004430,-0.069285,0.028771,-0.426037,0.511737,-0.511737,0.817890,-1.156447
1,"Ada, OK",10220.0,-1.589582,-0.173362,-0.076056,0.151820,0.065187,0.000000,-0.090855,-0.465152,-0.351006,-0.645994,0.645994,-0.295003,-0.163661
2,"Adrian, MI",10300.0,0.583803,-0.141601,-0.074847,0.154568,0.289650,-0.143240,-0.059660,-0.450319,0.072041,0.182666,-0.182666,0.379032,0.308506
3,"Akron, OH",10420.0,0.255774,0.063891,-0.088227,0.149071,0.177870,-0.085226,0.252931,-0.383568,3.422888,0.609025,-0.609025,0.302023,0.392027
4,"Albany, GA",10500.0,0.259028,0.000479,-0.053156,0.182052,0.646275,0.558191,-0.033401,-0.102800,-0.198816,-0.026600,0.026600,-0.587035,0.294727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,"York-Hanover, PA",49620.0,0.454380,0.000713,-0.085838,0.149071,0.177488,-0.417483,0.097396,-0.389084,1.915353,-0.009295,0.009295,0.202985,0.559269
588,"Youngstown-Warren-Boardman, OH-PA",49660.0,0.294844,-0.062200,0.001869,0.138077,0.089564,-0.000844,0.191544,-0.047236,1.099591,0.659488,-0.659488,0.286612,0.448310
589,"Yuba City, CA",49700.0,1.016019,-0.005489,-0.085308,0.272750,0.064597,0.115182,-0.038706,-0.248958,0.083215,-0.214338,0.214338,0.065279,-1.069912
590,"Yuma, AZ",49740.0,0.735752,0.211675,-0.072612,0.261757,-0.201570,0.157374,-0.008092,1.500424,-0.437744,-0.010485,0.010485,-0.464641,-0.777279
591,"Zanesville, OH",49780.0,-0.253232,-0.127708,-0.061510,0.140826,0.235687,-0.000844,-0.065907,-0.486748,0.055012,-0.023274,0.023274,0.182992,0.361222

In [54]:
weighted_vectors.to_csv('../geographic_eda/weighted_clustering_vectors.csv', index = False, header = True)